@model East2West.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageAuthen.cshtml";

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <main>
        <section id="hero" class="login">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                        <div id="login">
                            <div class="text-center"><img src="@Url.Content("~/Content/img/logo_sticky.png")" alt="Image" width="160" height="34"></div>
                            <hr>
                            <form>
                                @Html.ValidationMessage("LoginError", new { @class = "text-danger float-left mb-4" })
                                <div class="form-group ui search focus">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.UserName) } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger float-left mt-2 mb-2" })
                                </div>


                                <div class="form-group ui search focus mt-15">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.Password) } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger float-left mt-2 mb-2" })
                                </div>
                                <p class="small">
                                    <a href="#">Forgot Password?</a>
                                </p>
                                <button class="btn_full" type="submit">Login</button>
                                <a href="/User/Register" class="btn_full_outline">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End main -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
