@model East2West.Models.User

@{
    ViewBag.Title = "East2West - Login";
    Layout = "~/Views/Shared/_LayoutPageAuthen.cshtml";

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <main>
        <section id="hero" class="login">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                        <div id="login">
                            <div class="text-center"><img src="@Url.Content("~/Content/img/logo_sticky.png")" alt="Image" width="160" height="34"></div>
                            <hr>
                            <form id="loginform">
                                @Html.ValidationMessage("LoginError", new { @class = "text-danger float-left mb-4" })
                                <div class="form-group ui search focus">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.UserName) } })
                                    </div>
                                    <p id="usercheck" class="small" style="color: red;display:none">
                                        **Username is required
                                    </p>
                                </div>

                                <div class="form-group ui search focus mt-15">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.Password) } })
                                    </div>
                                    <p id="passcheck" class="small" style="color: red; display: none">
                                        **Password is required
                                    </p>
                                </div>
                                <p class="small">
                                </p>
                                <button class="btn_full"  onclick="login()">Login</button>
                                <a href="/User/Register" class="btn_full_outline">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End main -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@*<script>
    function login() {
       
        if (validateFormLogin()) {
            document.getElementById("loginform").submit();
        }
    }

    function validateFormLogin() {
        var usernameValue = $("#usernames");
        if (usernameValue.val() == "") {
            $("#usercheck").show();
            usernameError = false;
            return false;
        } else if (usernameValue.length < 3 || usernameValue.length > 10) {
            $("#usercheck").show();
            $("#usercheck").html("**length of username must be between 3 and 10");
            usernameError = false;
            return false;
        } else {
            $("#usercheck").hide();
        }
        var passwordValue = $("#password");
        if (passwordValue.val() == "") {
            $("#passcheck").show();
            passwordError = false;
            return false;
        }
        if (passwordValue.length < 3 || passwordValue.length > 10) {
            $("#passcheck").show();
            $("#passcheck").html(
                "**length of your password must be between 3 and 10"
            );
            $("#passcheck").css("color", "red");
            passwordError = false;
            return false;
        } else {
            $("#passcheck").hide();
        }
        return true;
    }
    </script>*@
}
