@model East2West.Models.User

@{
    ViewBag.Title = "East2West - Login";
    Layout = "~/Views/Shared/_LayoutPageAuthen.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <main>
        <section id="hero" class="login">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                        <div id="login">
                            <div class="text-center"><img src="@Url.Content("~/Content/img/logo_sticky.png")" alt="Image" width="160" height="34"></div>
                            <hr>
                            <form id="login_form">
                                @Html.ValidationMessage("LoginError", new { @class = "text-danger float-left mb-4" })
                                <div class="form-group ui search focus">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.UserName) } })
                                    </div>
                                    <p id="usercheck" class ="small mt-1" style="color: red; display:none;">
                                        **Username is required
                                    </p>
                                </div>

                                <div class="form-group ui search focus mt-15">
                                    <div class=" ui left icon input swdh11 swdh19">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control prompt srch_explore", placeholder = @Html.DisplayNameFor(m => m.Password) } })
                                    </div>
                                    <p id="conpasscheck" class ="small mt-1" style="color: red; display: none">
                                        **Password is required
                                    </p>
                                </div>
                                <p class="small">
                                </p>
                                <button id="btn_login" class="btn_full">Login</button>
                                <a href="/User/Register" class="btn_full_outline">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End main -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#btn_login').on('click', function (e) {
            e.preventDefault();
            var userName = $('#UserName').val();
            var password = $('#Password').val();
            if (userName === "") {
                $('#usercheck').show();
            }
            if (password === "") {
                $('#conpasscheck').show();
            }

            if (userName !== "" && password !== "") {
                $('#btn_login').unbind('click').click();
            }
        });

        $('#UserName').on('keyup', function () {
            var userName = $('#UserName').val();
            if (userName === "") {
                $('#usercheck').show();
            } else {
                $('#usercheck').hide();
            }
        });

        $('#Password').on('keyup', function () {
            var password = $('#Password').val();
            if (password === "") {
                $('#conpasscheck').show();
            } else {
                $('#conpasscheck').hide();
            }
        });
    </script>
}