@model East2West.Models.Car

@{
    ViewBag.Title = "East2West - " + Model.CarModel.Name;
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

@section Section
{
    @{
        var img = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
        if (Model.Thumbnail != null)
        {
            img = Model.Thumbnail.Split(',').ToList<String>().First();
        }
    }
    <section class="parallax-window" data-parallax="scroll" data-image-src="@img" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>@Model.CarModel.Name</h1>
                        <span>@Model.LisencePlate</span>
                        <span class="rating">
                            @for (int j = 0; j < Model.Rating; j++)
                            {
                                <i class="icon-smile voted"></i>

                            }
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div id="price_single_main">
                            from/per day <span><sup>$</sup>@Model.PricePerDay</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Cars</a>
                </li>
                <li>Car Details</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">

                <div id="single_tour_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-29"></i>Up to @Model.SeatCapacity passengers</li>
                        <li><i class="icon_set_1_icon-6"></i>Hotel Pick up</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibility</li>
                        <li><i class="icon_set_1_icon-22"></i>Pet allowed</li>
                        <li><i class="icon_set_1_icon-33"></i>Large baggage</li>
                    </ul>
                </div>

                <p class="d-block d-lg-none"><a class="btn_map" data-bs-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a></p>
                <!-- Map button for tablets/mobiles -->

                <div class="row">
                    <div class="col-lg-3">
                        <h3>Description</h3>
                    </div>
                    <div class="col-lg-9">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-3">
                        <h3>Reviews </h3>
                    </div>
                    <div class="col-lg-9">
                        <div id="general_rating">
                            11 Reviews
                            <div class="rating">
                                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                            </div>
                        </div>
                        <!-- End general_rating -->
                        <div class="row" id="rating_summary">
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        Comfort
                                        <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Punctuality
                                        <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        Price
                                        <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Kindness
                                        <div class="rating">
                                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row -->
                        <hr>
                        <div class="review_strip_single">
                            <img src="img/avatar1.jpg" alt="Image" class="rounded-circle">
                            <small> - 10 March 2015 -</small>
                            <h4>Jhon Doe</h4>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
                            </p>
                            <div class="rating">
                                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                            </div>
                        </div>
                        <!-- End review strip -->

                        <div class="review_strip_single">
                            <img src="img/avatar3.jpg" alt="Image" class="rounded-circle">
                            <small> - 10 March 2015 -</small>
                            <h4>Jhon Doe</h4>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
                            </p>
                            <div class="rating">
                                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                            </div>
                        </div>
                        <!-- End review strip -->

                        <div class="review_strip_single last">
                            <img src="img/avatar2.jpg" alt="Image" class="rounded-circle">
                            <small> - 10 March 2015 -</small>
                            <h4>Jhon Doe</h4>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
                            </p>
                            <div class="rating">
                                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                            </div>
                        </div>
                        <!-- End review strip -->
                    </div>
                </div>
            </div>
            <!--End  single_tour_desc-->

            <aside class="col-lg-4">

                <div class="box_style_1 expose">
                    <h3 class="inner">- Booking -</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> Start Date</label>
                                <input id="startDate" class="date-pick form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> End Date</label>
                                <input id="endDate" class="date-pick form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <input id="detailPrice" class="form-control mt-2" value="Location: @ViewBag.Location" readonly />
                    <input id="detailSeat" class="form-control mt-2" value="Price per day: @ViewBag.Price$" readonly />
                    <input id="userId" value="@ViewBag.UserId" hidden />
                    <p id="pricePerDay" hidden>@ViewBag.Price</p>
                    <input id="carId" value="@Model.Id" hidden />
                    <br>
                    <table class="table table_summary">
                        <tbody>

                            <tr>
                                <td>
                                    Day(s)
                                </td>
                                <td id="bookDays" class="text-end">
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total amount
                                </td>
                                <td id="totalAmount" class="text-end">
                                    $@ViewBag.Price
                                </td>
                            </tr>

                            <tr class="total">
                                <td>
                                    Total cost
                                </td>
                                <td id="totalCost" class="text-end">
                                    @ViewBag.Price
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p id="error_message" class="text-danger" style="display:none">Please select the date again.</p>
                    <a class="btn_full" href="cart_transfer.html" id="book_car">Book now</a>
                </div>
                <!--/box_style_1 -->

                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->
</main>