@model IEnumerable<East2West.Models.Tour>
@using System.Linq;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>East2West - Home</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="@Url.Content("~/Content/client_img/favicon.ico")" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="@Url.Content("~/Content/client_img/apple-touch-icon-57x57-precomposed.png")">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="@Url.Content("~/Content/client_img/apple-touch-icon-72x72-precomposed.png")">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="@Url.Content("~/Content/client_img/apple-touch-icon-114x114-precomposed.png")">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="@Url.Content("~/Content/client_img/apple-touch-icon-144x144-precomposed.png")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/Content/client_css/vertical-responsive-menu.min.css")" media="screen" type="text/css" />
    <!-- COMMON CSS -->
    <link href="@Url.Content("~/Content/client_css/bootstrap.min.css")" rel="stylesheet" media="screen" type="text/css">
    <link href="@Url.Content("~/Content/client_css/style.css")" rel="stylesheet" media="screen" type="text/css">
    <link href="@Url.Content("~/Content/client_css/vendors.css")" rel="stylesheet" media="screen" type="text/css">

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/client_rev-slider-files/fonts/font-awesome/css/font-awesome.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/client_rev-slider-files/css/settings.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/client_rev-slider-files/css/layers.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/client_rev-slider-files/css/navigation.css")" media="screen">

    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <style>
        .img-fluid {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    </style>
</head>

<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <header>
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-6"><i class="icon-phone"></i><strong>0045 043204434</strong></div>
                    <div class="col-6">
                        <ul id="top_links">
                            @if (ViewBag.UserId != null)
                            {
                                <li><a href="@Url.Action("ShowInformation", "User", new { id = ViewBag.UserId })"><i class="icon-torso"></i> Profile</a></li>
                                <li><a href="@Url.Action("LogOut", "User")"><i class="icon-logout"></i> Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Login", "User")"><i class="icon-login"></i> Sign in</a></li>
                                <li><a href="@Url.Action("Register", "User")"><i class="icon-user-add-1"></i> Register</a></li>
                            }
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title="City tours travel template">City Tours travel template</a></h1>
                    </div>
                </div>
                <nav class="col-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img/logo_sticky.png" width="160" height="34" alt="City tours">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/" class="show-submenu"><i class="fa-solid fa-house-chimney"></i> Home &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="@Url.Action("GetListTour", "ClientTour")" class="show-submenu"><i class="fa-solid fa-briefcase"></i>  Tours &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="@Url.Action("GetListHotel", "ClientHotel")" class="show-submenu"><i class="fa-solid fa-hotel"></i>  Hotels &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="@Url.Action("GetListCar", "ClientCar")" class="show-submenu"><i class="fa-solid fa-car"></i>  Cars &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu"><i class="fa-solid fa-plane"></i>  Flights &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="@Url.Action("About", "Home")" class="show-submenu"><i class="fa-solid fa-users"></i>  About Us &nbsp;</a>
                            </li>
                            <li class="submenu">
                                <a href="@Url.Action("Contact", "Home")" class="show-submenu"><i class="fa-solid fa-phone"></i>  Contact Us &nbsp;</a>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    <main>
        <!-- START SLIDER -->
        <div id="rev_slider_44_wrapper" class="rev_slider_wrapper fullscreen-container">
            <!-- Start revolution slider 5.4.8 fullscreen mode -->
            <div id="rev_slider_44" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8">
                <ul>
                    <!-- start slide 01 -->
                    <li data-index="rs-73" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="01" data-param1="01" data-description="">
                        <!-- main image -->
                        <img src="~/Content/client_img/anh_bia1.jpg" alt="" data-bgcolor="#ccc" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

                        <div class="rev-slider-mask"></div>
                        <!-- opacity mask -->
                        <!-- main text layer -->
                        <div class="tp-caption tp-resizeme text-center"
                             id="slide-411-layer-01"
                             data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-whitespace="nowrap"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-115','-65']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['70','53','60','35']"
                             data-lineheight="['70','59','70','39']"
                             data-letterspacing="['-2','-1','-1','-1']"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-paddingtop="['0','0','0','0']"
                             data-paddingbottom="['15','8','8','8']"
                             data-paddingright="['0','0','0','0']"
                             data-paddingleft="['0','0','0','0']"
                             style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 700; color:#fff;">Start to Enjoy <br>unique places</div>

                        <!-- small text layer -->
                        <div class="tp-caption tp-resizeme text-center"
                             id="slide-411-layer-02"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['21','16','19','14']"
                             data-lineheight="['28','14','23','20']"
                             data-letterspacing="['0.5','0.5','0.5','0.5']"
                             data-responsive="off"
                             data-responsive_offset="on" style="color: #fff;">
                            Top rated tours, hotels and restaurants.
                        </div>

                        <!-- btn layer -->
                        <div class="tp-caption tp-resizeme btn_1"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"-49px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                             id="slide-411-layer-03"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']" style="line-height: 1; padding: 15px 20px; font-size: 16px;font-weight: 600;">
                            Get Started Now
                        </div>
                    </li>
                    <!-- end slide 01 -->
                    <!-- start slide 02 -->
                    <li data-index="rs-74" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="02" data-param1="02" data-description="">
                        <!-- main image -->
                        <img src="~/Content/client_img/anh_bia2.jpg" alt="" data-bgcolor="#ccc" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

                        <div class="rev-slider-mask" style="opacity: 0.5"></div>
                        <!-- opacity mask -->
                        <!-- main text layer -->
                        <div class="tp-caption tp-resizeme alt-font font-weight-600 text-center"
                             id="slide-411-layer-04"
                             data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-whitespace="nowrap"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-115','-65']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['70','53','60','35']"
                             data-lineheight="['70','59','70','39']"
                             data-letterspacing="['-2','-1','-1','-1']"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-paddingtop="['0','0','0','0']"
                             data-paddingbottom="['15','8','8','8']"
                             data-paddingright="['0','0','0','0']"
                             data-paddingleft="['0','0','0','0']"
                             style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 700; color: #fff;">Great places<br> to discover</div>

                        <!-- small text layer -->
                        <div class="tp-caption tp-resizeme text-white text-center"
                             id="slide-411-layer-05"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['21','13','19','14']"
                             data-lineheight="['28','14','23','20']"
                             data-letterspacing="['0.5','0.5','0.5','0.5']"
                             data-responsive="off"
                             data-responsive_offset="on" style="color: #fff;">
                            Top rated tours, hotels and restaurants.
                        </div>

                        <!-- btn layer -->
                        <div class="tp-caption tp-resizeme btn_1"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"-49px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                             id="slide-411-layer-06"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']" style="line-height: 1; padding: 15px 20px; font-size: 16px;font-weight: 600;">
                            Get Started Now
                        </div>
                    </li>
                    <!-- end slide 02 -->
                    <!-- start slide 03 -->
                    <li data-index="rs-75" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="03" data-param1="03" data-description="">
                        <!-- main image -->
                        <img src="~/Content/client_img/anh_bia3.jpg" alt="" data-bgcolor="#ccc" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

                        <div class="rev-slider-mask" style="opacity: 0.6"></div>
                        <!-- opacity mask -->
                        <!-- main text layer -->
                        <div class="tp-caption tp-resizeme text-white text-center"
                             id="slide-411-layer-07"
                             data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-whitespace="nowrap"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-115','-65']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['70','53','60','35']"
                             data-lineheight="['70','59','70','39']"
                             data-letterspacing="['-2','-1','-1','-1']"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-paddingtop="['0','0','0','0']"
                             data-paddingbottom="['15','8','8','8']"
                             data-paddingright="['0','0','0','0']"
                             data-paddingleft="['0','0','0','0']"
                             style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 700;color: #fff;">Finally...<br> it's time to relax</div>

                        <!-- small text layer -->
                        <div class="tp-caption tp-resizeme alt-font text-white font-weight-300 text-center"
                             id="slide-411-layer-08"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-type="text"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                             data-width="auto"
                             data-height="auto"
                             data-fontsize="['21','13','19','14']"
                             data-lineheight="['28','14','23','20']"
                             data-letterspacing="['0.5','0.5','0.5','0.5']"
                             data-responsive="off"
                             data-responsive_offset="on" style="color: #fff;">
                            Top rated tours, hotels and restaurants.
                        </div>

                        <!-- btn layer -->
                        <div class="tp-caption tp-resizeme btn_1"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"-49px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                             id="slide-411-layer-09"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive="off"
                             data-responsive_offset="off"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']" style="line-height: 1; padding: 15px 20px; font-size: 16px;font-weight: 600;">
                            Get Started Now
                        </div>
                    </li>
                    <!-- end slide 01 -->
                </ul>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->

        <div class="white_bg">
            <div class="container margin_60">
                <div class="row small-gutters categories_grid">
                    <div class="col-sm-12 col-md-6">
                        <a href="@Url.Action("GetListTour", "ClientTour")">
                            <img src="~/Content/client_img/hinh-nen-vinh-ha-long-quang-ninh-dep.jpg" alt="Tours" class="img-fluid">
                            <div class="wrapper">
                                <h2>Tours</h2>
                                <p>1150 Locations</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row small-gutters mt-md-0 mt-sm-2">
                            <div class="col-sm-6">
                                <a href="all_tours_list.html">
                                    <img src="~/Content/client_img/ve-may-bay-di-vietnam-airlines.jpg" alt="Flights" class="img-fluid">
                                    <div class="wrapper">
                                        <h2>Flights</h2>
                                        <p>800 Flights</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="@Url.Action("GetListHotel", "ClientHotel")">
                                    <img src="~/Content/client_img/img_cat_home_3.jpg" alt="Hotels" class="img-fluid">
                                    <div class="wrapper">
                                        <h2>Hotels</h2>
                                        <p>650 Locations</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 mt-sm-2">
                                <a href="@Url.Action("GetListCar", "ClientCar")">
                                    <img src="~/Content/client_img/xe.jpg" alt="Cars" class="img-fluid">
                                    <div class="wrapper">
                                        <h2>Cars</h2>
                                        <p>113 Cars</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/categories_grid-->
            </div>
            <!-- /container -->
        </div>
        <!-- /white_bg -->

        <div class="container margin_60">

            <div class="main_title">
                <h2>The <span>Best</span> Tours</h2>
                <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
            </div>

            <div class="owl-carousel owl-theme list_carousel add_bottom_30">
                @foreach (var tour in Model)
                {
                    var img = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
                    if (tour.Thumbnail != null)
                    {
                        img = tour.Thumbnail.Split(',').ToList<String>().First();
                    }
                    <div class="item">
                        <div class="tour_container">
                            <div class="ribbon_3"><span>Top rated</span></div>
                            <div class="img_container">
                                <a href="@Url.Action("Details", "ClientTour", new { id = tour.Id })">
                                    <img src="@img" width="450" height="300"  alt="image" style="object-fit:cover">
                                    <div class="short_info">
                                        <span class="price"><sup>$</sup>@tour.TourDetails.First().Price</span>
                                    </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>@tour.Name</strong> tour</h3>
                                <div class="rating">
                                    @for (int j = 0; j < tour.Rating; j++)
                                    {
                                        <i class="icon-smile voted"></i>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /carousel -->

            <p class="text-center add_bottom_30">
                <a href="@Url.Action("GetListTour", "ClientTour")" class="btn_1">View all Tours</a>
            </p>

            <hr class="mt-5 mb-5">
        </div>
        <!-- End container -->

        <div class="white_bg">
            <div class="container margin_60">
                <div class="main_title">
                    <h2>Plan <span>Your Tour</span> Easily</h2>
                    <p>
                        Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
                    </p>
                </div>
                <div class="row feature_home_2">
                    <div class="col-md-4 text-center">
                        <img src="~/Content/client_img/adventure_icon_1.svg" alt="" width="75" height="75">
                        <h3>Itineraries studied in detail</h3>
                        <p>Suscipit invenire petentium per in. Ne magna assueverit vel. Vix movet perfecto facilisis in, ius ad maiorum corrumpit, his esse docendi in.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="~/Content/client_img/adventure_icon_2.svg" alt="" width="75" height="75">
                        <h3>Room and food included</h3>
                        <p> Cum accusam voluptatibus at, et eum fuisset sententiae. Postulant tractatos ius an, in vis fabulas percipitur, est audiam phaedrum electram ex.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="~/Content/client_img/adventure_icon_3.svg" alt="" width="75" height="75">
                        <h3>Everything organized</h3>
                        <p>Integre vivendo percipitur eam in, graece suavitate cu vel. Per inani persius accumsan no. An case duis option est, pro ad fastidii contentiones.</p>
                    </div>
                </div>

                <div class="banner_2">
                    <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div>
                            <h3>Your Perfect<br>Tour Experience</h3>
                            <p>Activities and accommodations</p>
                            <a href="all_tours_list.html" class="btn_1">Read more</a>
                        </div>
                    </div>
                    <!-- /wrapper -->
                </div>
                <!-- /banner_2 -->
            </div>
            <!-- End container -->
        </div>
        <!-- End white_bg -->
    </main>
    <!-- End main -->

    <footer class="revealed">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Need help?</h3>
                    <a href="tel://004542344599" id="phone">+45 423 445 99</a>
                    <a href="mailto:help@east2west.com" id="email_footer">help@east2west.com</a>
                </div>
                <div class="col-md-3">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Terms and condition</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Discover</h3>
                    <ul>
                        <li><a href="#">Community blog</a></li>
                        <li><a href="#">Tour guide</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3>Settings</h3>
                    <div class="styled-select">
                        <select name="lang" id="lang">
                            <option value="English" selected>English</option>
                            <option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Russian">Russian</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select name="currency" id="currency">
                            <option value="USD" selected>USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="RUB">RUB</option>
                        </select>
                    </div>
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-google"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        </ul>
                        <p>© East2West 2022</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer>

    <div id="toTop"></div><!-- Back to top button -->
    <!-- Search Menu -->
    <div class="search-overlay-menu">
        <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
        <form role="search" id="searchform" method="get">
            <input value="" name="q" type="text" placeholder="Search..." />
            <button type="submit">
                <i class="icon_set_1_icon-78"></i>
            </button>
        </form>
    </div><!-- End Search Menu -->
    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>Sign In</h3>
        </div>
        <form>
            <div class="sign-in-wrapper">
                <a href="#0" class="social_bt facebook">Login with Facebook</a>
                <a href="#0" class="social_bt google">Login with Google</a>
                <div class="divider"><span>Or</span></div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" value="">
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-start">
                        <label class="container_check">
                            Remember me
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                </div>
                <div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
                <div class="text-center">
                    Don’t have an account? <a href="javascript:void(0);">Sign up</a>
                </div>
                <div id="forgot_pw">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Popup -->
    <!-- Common scripts -->
    <script src="~/Content/client_js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/client_js/common_scripts_min.js"></script>
    <script src="~/Content/client_js/functions.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="~/Content/client_rev-slider-files/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/client_rev-slider-files/js/extensions/revolution.extension.video.min.js"></script>
    <script>
        var tpj = jQuery;

        var revapi44;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_44").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_44");
            } else {
                revapi44 = tpj("#rev_slider_44").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "revolution-slider/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 4500,
                    navigation: {
                        keyboardNavigation: "on",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            touchOnDesktop: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            enable: true,
                            style: 'erinyen',
                            tmp: '',
                            rtl: false,
                            hide_onleave: true,
                            hide_onmobile: true,
                            hide_under: 767,
                            hide_over: 9999,
                            hide_delay: 0,
                            hide_delay_mobile: 0,

                            left: {
                                container: 'slider',
                                h_align: 'left',
                                v_align: 'center',
                                h_offset: 60,
                                v_offset: 0
                            },

                            right: {
                                container: 'slider',
                                h_align: 'right',
                                v_align: 'center',
                                h_offset: 60,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            style: 'zeus',
                            direction: 'horizontal',
                            rtl: false,

                            container: 'slider',
                            h_align: 'center',
                            v_align: 'bottom',
                            h_offset: 0,
                            v_offset: 30,
                            space: 7,

                            hide_onleave: false,
                            hide_onmobile: false,
                            hide_under: 0,
                            hide_over: 767,
                            hide_delay: 200,
                            hide_delay_mobile: 1200
                        },
                    },
                    responsiveLevels: [1240, 1025, 778, 480],
                    visibilityLevels: [1920, 1500, 1025, 768],
                    gridwidth: [1200, 991, 778, 480],
                    gridheight: [1025, 1366, 1025, 868],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "on",
                    fullScreenAutoWidth: "on",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "on",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLimit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
    </script>

    <!-- SWITCHER  -->
</body>

<!-- Mirrored from ansonika.com/citytours/index_17.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Jun 2022 02:55:48 GMT -->
</html>