@model PagedList.IPagedList<East2West.Models.Tour>
@using PagedList.Mvc;

@{
    ViewBag.Title = "East2West - List Tour";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

<style>
    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination-container li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination-container li:last-child {
                border-right: none;
            }

            .pagination-container li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                .pagination-container li a:hover:not(.active) {
                    background-color: white;
                }

        .pagination-container .active {
            background-color: white;
        }
</style>

@section Section
{
    <section class="parallax-window" data-parallax="scroll" data-image-src="https://res.cloudinary.com/tanvnth2012002/image/upload/v1655794518/hinh-nen-vinh-ha-long-quang-ninh-dep_wu3zp9.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="animated fadeInDown">
                <h1>Book tours</h1>
                <p>
                    We provide the best tours for you and your family
                </p>
            </div>
        </div>
    </section>
}

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("GetListTour", "ClientTour")">Tours</a>
                </li>
                <li>List Tours</li>
            </ul>
        </div>
    </div>
    <!-- Position -->

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->
    @using (Html.BeginForm("GetListTour", "ClientTour", FormMethod.Get))
    {
        <div class="container margin_60">
            <div class="row">
                <aside class="col-lg-3">
                    <p>
                        <button type="submit" class="btn_full">Search</button>
                    </p>
                    <div class="box_style_cat">
                        <div id="cat_nav">
                            <select name="categoryId" id="categoryId" class="custom-select form-control">
                                <option value="">All</option>
                                @foreach (var category in ViewBag.CategoryList)
                                {
                                    if (category.Id == ViewBag.CategoryId)
                                    {
                                        <option value=@category.Id selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@category.Id>@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div id="filters_col">

                        <a data-bs-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
                        <div class="collapse show" id="collapseFilters">
                            <div class="filter_type">
                                <h6><i class="icon_set_1_icon-30"></i> Departure Location</h6>
                                <select name="departureId" id="departureId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var departure in ViewBag.LocationList)
                                    {
                                        if (departure.Id == ViewBag.DepartureId)
                                        {
                                            <option value=@departure.Id selected>@departure.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@departure.Id>@departure.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="filter_type">
                                <h6><i class="icon_set_1_icon-39"></i> Destination</h6>
                                <select name="destinationId" id="destinationId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var destination in ViewBag.LocationList)
                                    {
                                        if (destination.Id == ViewBag.DestinationId)
                                        {
                                            <option value=@destination.Id selected>@destination.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@destination.Id>@destination.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="filter_type">
                                <h6><i class="icon-money-2"></i> Price</h6>
                                <select name="price_range" id="price_range" class="custom-select form-control">
                                    <option value="all" @(ViewBag.PriceRange == "all" ? "selected" : "")>All</option>
                                    <option value="lt100" @(ViewBag.PriceRange == "lt100" ? "selected" : "")>Less than 100$</option>
                                    <option value="100to500" @(ViewBag.PriceRange == "100to500" ? "selected" : "")>From 100$ to 500$</option>
                                    <option value="500t1000" @(ViewBag.PriceRange == "500t1000" ? "selected" : "")>From 500$ to 1000$</option>
                                    <option value="gt1000" @(ViewBag.PriceRange == "gt1000" ? "selected" : "")>More than 1000$</option>
                                </select>
                            </div>
                            <div class="filter_type">
                                <h6><i class="pe-7s-timer"></i> Duration</h6>
                                <select name="duration_range" id="duration_range" class="custom-select form-control">
                                    <option value="all" @(ViewBag.DurationRange == "all" ? "selected" : "")>All</option>
                                    <option value="lte3" @(ViewBag.DurationRange == "lte3" ? "selected" : "")>Less than 3 days</option>
                                    <option value="4to7" @(ViewBag.DurationRange == "4to7" ? "selected" : "")>From 4 to 7 days</option>
                                    <option value="gt7" @(ViewBag.DurationRange == "gt7" ? "selected" : "")> More than 7 days</option>
                                </select>
                            </div>
                            <div class="filter_type">
                                <h6><i class="icon-smile"></i> Rating</h6>
                                <select name="rating" id="rating" class="custom-select form-control">
                                    <option value="">All</option>
                                    <option value="1" @(ViewBag.Rating == "1" ? "selected" : "")>1 Star</option>
                                    <option value="2" @(ViewBag.Rating == "2" ? "selected" : "")>2 Star</option>
                                    <option value="3" @(ViewBag.Rating == "3" ? "selected" : "")>3 Star</option>
                                    <option value="4" @(ViewBag.Rating == "4" ? "selected" : "")>4 Star</option>
                                    <option value="5" @(ViewBag.Rating == "5" ? "selected" : "")>5 Star</option>
                                </select>
                            </div>
                        </div>
                        <!--End collapse -->
                    </div>
                    <!--End filters col-->

                    <div class="box_style_2 d-none d-sm-block">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>Need <span>Help?</span></h4>
                        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                        <small>Monday to Friday 9.00am - 7.30pm</small>
                    </div>
                </aside>
                <!--End aside -->
                <div class="col-lg-9">
                    <div id="tools">
                        <div class="row" style="margin: 0">
                            <div class="col-md-4 col-sm-4" style="padding: 0">
                                <div class="styled-select-filters">
                                    <select name="sortType" id="sortType" class="custom-select form-control">
                                        <option value="">Sort by (Latest default)</option>
                                        <option value="createdAt_asc" @(ViewBag.SortType == "createdAt_asc" ? "selected" : "")>Latest</option>
                                        <option value="createdAt_desc" @(ViewBag.SortType == "createdAt_desc" ? "selected" : "")>Oldest</option>
                                        <option value="duration_asc" @(ViewBag.SortType == "duration_asc" ? "selected" : "")>Duration (Increase)</option>
                                        <option value="duration_desc" @(ViewBag.SortType == "duration_desc" ? "selected" : "")>Duration (Decrease)</option>
                                        <option value="rating_asc" @(ViewBag.SortType == "rating_asc" ? "selected" : "")>Rating (Increase)</option>
                                        <option value="rating_desc" @(ViewBag.SortType == "rating_desc" ? "selected" : "")>Rating (Decrease)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8" style="padding: 0">
                                @Html.TextBox("keyword", ViewBag.Keyword as string, new { @class = "form-control", placeholder = "Search", style = "outline: 0px solid transparent;" })
                            </div>
                        </div>
                    </div>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <div class="text-center">
                            <i class="icon-search"></i>
                            Nothing found
                        </div>
                    }
                    else
                    {
                        foreach (var tour in Model)
                        {
                            var img = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
                            if (tour.Thumbnail != null)
                            {
                                img = tour.Thumbnail.Split(',').ToList<String>().First();
                            }
                            <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 position-relative">
                                        <div class="ribbon_3 popular">
                                            <span>Popular</span>
                                        </div>

                                        <div class="img_list">
                                            <a href="@Url.Action("Details", "ClientTour", new { id = tour.Id })">
                                                <img src="@img" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="tour_list_desc">
                                            <div class="rating">
                                                @for (int j = 0; j < tour.Rating; j++)
                                                {
                                                    <i class="icon-smile voted"></i>

                                                }
                                            </div>
                                            <h3><strong>@tour.Name</strong></h3>
                                            <p>@tour.Description</p>
                                            <ul class="add_info">
                                                <li>
                                                    <div class="tooltip_styled tooltip-effect-4">
                                                        <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                                        <div class="tooltip-content">
                                                            <h4>Schedule</h4>
                                                            <strong>@tour.SummarySchedule</strong>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tooltip_styled tooltip-effect-4">
                                                        <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                                        <div class="tooltip-content">
                                                            <h4>Address</h4> @tour.LocationDestination.Name
                                                            <br>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tooltip_styled tooltip-effect-4">
                                                        <span class="tooltip-item"><i class="icon_set_1_icon-97"></i></span>
                                                        <div class="tooltip-content">
                                                            <h4>Languages</h4> English - Vietnamese
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="price_list">
                                            <div>
                                                <sup>
                                                    @{
                                                        float percentDiscount = ((float)tour.TourDetails.First().Discount) / 100;
                                                        var priceDiscount = Math.Round(tour.TourDetails.First().Price * (1 - percentDiscount), 2);
                                                    }
                                                    $@priceDiscount
                                                </sup>
                                                <span class="normal_price_list">@tour.TourDetails.First().Price</span>
                                                <small>*Per person</small>

                                                <p>
                                                    <a href="@Url.Action("Details", "ClientTour", new { id = tour.Id })" class="btn_1">Details</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        <!--End strip -->
                        <nav aria-label="Page navigation">
                            @Html.PagedListPager(Model, page => Url.Action("GetListTour",
                                                                          new
                                                                          {
                                                                              priceRange = ViewBag.PriceRange,
                                                                              rating = ViewBag.Rating,
                                                                              sortType = ViewBag.SortType,
                                                                              keyword = ViewBag.Keyword,
                                                                              departureId = ViewBag.DepartureId,
                                                                              destinationId = ViewBag.DestinationId,
                                                                              categoryId = ViewBag.CategoryId,
                                                                              duration_range = ViewBag.DurationRange,
                                                                              page
                                                                          }),
                                                                          new PagedListRenderOptions
                                                                          {
                                                                              DisplayItemSliceAndTotal = true,
                                                                              ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} total tour(s).",
                                                                              DisplayLinkToIndividualPages = true,
                                                                              DisplayPageCountAndCurrentLocation = false,
                                                                              MaximumPageNumbersToDisplay = 10,
                                                                              LinkToFirstPageFormat = "««",
                                                                              LinkToPreviousPageFormat = "«",
                                                                              LinkToIndividualPageFormat = "{0}",
                                                                              LinkToNextPageFormat = "»",
                                                                              LinkToLastPageFormat = "»»",
                                                                              ContainerDivClasses = new string[] { "pagination-container mt-3 justify-content-center" },
                                                                              UlElementClasses = new string[] { "pagination" },
                                                                              LiElementClasses = new string[] { "page-item" }
                                                                          })
                        </nav>
                    }

                    <!-- end pagination-->
                </div>
                <!-- End col lg-9 -->
            </div>
            <!-- End row -->
        </div>
    }
    <!-- End container -->
</main>