
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row flex-row">
    <!-- Begin Facebook -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-bag text-facebook"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-facebook">Total orders</div>
                        <div class="number">@ViewBag.TotalOrder </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Facebook -->
    <!-- Begin Twitter -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-person text-twitter"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-twitter">Total users</div>
                        <div class="number">@ViewBag.TotalUser</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter -->
    <!-- Begin Linkedin -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-cash text-linkedin"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-linkedin">All time revenue</div>
                        <div class="number">$@ViewBag.TotalRevenue</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Linkedin -->
</div>

<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header d-flex align-items-center">
                <h2>Delivered Orders</h2>
                <div class="widget-options">
                    <button type="button" class="btn btn-shadow">View all</button>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <canvas id="orders"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-2 col-12 d-flex flex-column my-auto no-padding text-center">
                        <div class="new-orders">
                            <div class="title">New Orders</div>
                            <div class="circle-orders">
                                <div class="percent-orders"></div>
                            </div>
                        </div>
                        <div class="some-stats mt-5">
                            <div class="title">Total Delivered</div>
                            <div class="number text-blue">856</div>
                        </div>
                        <div class="some-stats mt-3">
                            <div class="title">Total Estimated</div>
                            <div class="number text-blue">297</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
    </div>
</div>

<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeId" id="typeId" class="custom-select form-control">
                                <option value="2">Tour Duration</option>
                                <option value="1">Tour Category</option>
                                <option value="0">Season</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            @*@{
                                    var departureString = "";
                                    if (!String.IsNullOrEmpty(ViewBag.StartDepartureDay) && !String.IsNullOrEmpty(ViewBag.EndDepartureDay))
                                    {
                                        departureString = @ViewBag.StartDepartureDay + " - " + @ViewBag.EndDepartureDay;
                                    }
                                }*@
                            <input type="text" class="form-control" id="daterange" value="">
                            <input type="hidden" class="form-control" name="startDay" , id="startDay" value="">
                            <input type="hidden" class="form-control" name="endDay" , id="endDay" value="">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                            <div id="notFound" class="text-center" style="display:none"><i class="la la-search"></i> No orders found in this date range!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeIdCar" id="typeIdCar" class="custom-select form-control">
                                <option value="2">Car Model</option>
                                <option value="1">Car Type</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





@section Scripts{
    <script src="~/Content/admin_vendor/js/nicescroll/nicescroll.min.js"></script>
    <script src="~/Content/admin_vendor/js/chart/chart.min.js"></script>
    <script src="~/Content/admin_vendor/js/progress/circle-progress.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/admin_vendor/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/admin_vendor/js/app/app.js"></script>


    <script src="~/Content/admin_js/dashboard/db-default.js"></script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/daterangepicker.js"></script>
    <script src="~/Content/admin_js/components/datepicker/datepicker.js"></script>
    <script>
        $('#daterange').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        
    </script>

    <script>
        $(function () {
            var obj = @Html.Raw(ViewBag.DataPoints);
            var options = {
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: obj.title
                },
                subtitles: [{
                    text: obj.date
                }],
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: ${y}",
                    showInLegend: "true",
                    legendText: "{label} (#percent%)",
                    indexLabel: "{label} - ${y}",
                    dataPoints: obj.data
	            }]
            };
            $("#chartContainer").CanvasJSChart(options);

            var chart = $("#chartContainer").CanvasJSChart();

            function GetData(type, start, end) {
                $("#preloader2").show();
                $.ajax({
                    type: "GET",
                    url: "/Dashboard/GetTourChartData",
                    data: {
                        typeId: type,
                        startDay: start,
                        endDay: end
                    },
                    success: function (obj) {
                        if (obj === "") {
                            $("#chartContainer").hide()
                            $("#notFound").show()
                        } else {
                            $("#chartContainer").show()
                            $("#notFound").hide()
                            var item = JSON.parse(obj);
                            chart.options.title.text = item.title
                            chart.options.subtitles[0].text = item.date
                            chart.options.data[0].dataPoints = item.data
                            console.log(item.date)
                            chart.render()
                        }
                        $("#preloader2").hide()

                    },
                    error: function () {
                        $("#preloader2").hide()
                    },
                });
            };


            $('#typeId').on('change', (event) => {
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                GetData(event.target.value, start, end)
            });

            $('#daterange').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                $('#startDay').val(picker.startDate.format('DD/MM/YYYY'))
                $('#endDay').val(picker.endDate.format('DD/MM/YYYY'))
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                var type = $('#typeId').val();
                GetData(type, start, end)
            });

            //const selectElement = document.getElementById("typeId");
            //selectElement.addEventListener('change', (event) => {
            //    var start = $('#startDay').val();
            //    var end = $('#endDay').val();
            //    //if (event.target.value == "1") {
            //    //    chart.options.title.text = "Revenue by tour package category share";
            //    //}
            //    //if (event.target.value == "2") {
            //    //    chart.options.title.text = "Revenue by tour package duration share";
            //    //}
            //    //if (event.target.value == "0") {
            //    //    chart.options.title.text = "Revenue by season share";
            //    //}
            //    GetData(event.target.value, start, end)
            //});

        });

    </script>




    @*<script>
            $('.circle-orders').circleProgress({
                value: 0.55,
                size: 120,
                startAngle: -Math.PI / 2,
                thickness: 10,
                lineCap: 'round',
                emptyFill: '#e4e8f0',
                fill: {
                    gradient: ['#0087a4', '#08a6c3']
                }
            }).on('circle-animation-progress', function (event, progress) {
                $(this).find('.percent-orders').html(Math.round(55 * progress) + '<i>%%</i>');
            });
        </script>*@
}
