@using East2West.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<style>
    .media-right *{
        float: right;
        display: block
    }
</style>*@
<div class="row flex-row">
    <!-- Begin Facebook -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-bag text-facebook"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-facebook">Total orders</div>
                        <div class="number">@ViewBag.TotalOrder </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Facebook -->
    <!-- Begin Twitter -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-person text-twitter"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-twitter">Total users</div>
                        <div class="number">@ViewBag.TotalUser</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter -->
    <!-- Begin Linkedin -->
    <div class="col-xl-4 col-md-6 col-sm-6">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-cash text-linkedin"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-linkedin">All time revenue</div>
                        <div class="number">$@ViewBag.TotalRevenue</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Linkedin -->
</div>

<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="" id="" class="custom-select form-control">
                                <option value="2">Tour Duration</option>
                                <option value="1">Tour Category</option>
                                <option value="0">Season</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="" value="">
                            <input type="hidden" class="form-control" name="" , id="" value="">
                            <input type="hidden" class="form-control" name="" , id="" value="">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div>
                            <div id="chartContainerColumn" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
    </div>
</div>

<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeId" id="typeId" class="custom-select form-control">
                                <option value="2">Tour Duration</option>
                                <option value="1">Tour Category</option>
                                <option value="0">Season</option>
                                <option value="3">Ticket Price Range</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="daterange" value="">
                            <input type="hidden" class="form-control" name="startDay" , id="startDay" value="">
                            <input type="hidden" class="form-control" name="endDay" , id="endDay" value="">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-10 no-padding">
                        <div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                            <div id="notFound" class="text-center mb-5 mt-3" style="display:none"><i class="la la-search"></i> No order tour found in this date range!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeIdCar" id="typeIdCar" class="custom-select form-control">
                                <option value="2">Car Model</option>
                                <option value="1">Car Type</option>
                                <option value="0">Season</option>
                                <option value="3">Air Conditioner</option>
                                <option value="4">Driver</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="daterangeCar" value="">
                            <input type="hidden" class="form-control" name="startDayCar" , id="startDayCar" value="">
                            <input type="hidden" class="form-control" name="endDayCar" , id="endDayCar" value="">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <div id="chartContainerCar" style="height: 370px; width: 100%;"></div>
                            <div id="notFoundCar" class="text-center mb-5 mt-3" style="display:none"><i class="la la-search"></i> No order car found in this date range!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-4 col-md-6">
                <!-- Begin Widget 04 -->
                <div class="widget widget-04 has-shadow">
                    <!-- Begin Widget Header -->
                    <div class="widget-header bordered d-flex align-items-center">
                        <h2>Post</h2>
                        <div class="widget-options">
                            <div class="dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="la la-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">
                                        <i class="la la-check"></i>Valid Post
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="la la-edit"></i>Edit Widget
                                    </a>
                                    <a href="faq.html" class="dropdown-item faq">
                                        <i class="la la-question-circle"></i>FAQ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Widget Header -->
                    <!-- Begin Widget Body -->
                    <div class="widget-body p-0">
                        <div class="post-container">
                            <div class="media mb-3">
                                <div class="media-left align-self-center user">
                                    <a href="pages-profile.html"><img src="assets/img/avatar/avatar-07.jpg" class="rounded-circle" alt="..."></a>
                                </div>
                                <div class="media-body align-self-center ml-3">
                                    <div class="title">
                                        <span class="username">Lisa Garett</span> posted an image
                                    </div>
                                    <div class="time">42 min ago</div>
                                </div>
                            </div>
                            <img src="assets/img/background/01.jpg" alt="..." class="img-fluid">
                            <div class="col no-padding d-flex justify-content-end mt-3">
                                <div class="meta">
                                    <ul>
                                        <li><a href="#"><i class="la la-comment"></i><span class="numb">38</span></a></li>
                                        <li><a href="#"><i class="la la-heart"></i><span class="numb">94</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Begin Write Comment -->
                        <div class="input-group mt-5">
                            <input type="text" class="form-control pr-0" placeholder="Write a comment ...">
                            <span class="input-group-addon">
                                <button class="btn" type="button">
                                    <i class="la la-smile-o la-2x"></i>
                                </button>
                            </span>
                            <span class="input-group-addon">
                                <button class="btn pr-3" type="button">
                                    <i class="la la-pencil la-2x"></i>
                                </button>
                            </span>
                        </div>
                        <!-- End Write Comment -->
                    </div>
                    <!-- End Widget Body -->
                </div>
                <!-- End Widget 04 -->
            </div>
            <div class="col-xl-4 col-md-6">
                <!-- Begin Widget 05 -->
                <div class="widget widget-05 has-shadow">
                    <!-- Begin Widget Header -->
                    <div class="widget-header bordered d-flex align-items-center">
                        <h2>Top Author</h2>
                        <div class="widget-options">
                            <div class="dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="la la-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">
                                        <i class="la la-edit"></i>Edit Widget
                                    </a>
                                    <a href="#" class="dropdown-item faq">
                                        <i class="la la-question-circle"></i>FAQ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Widget Header -->
                    <!-- Begin Widget Body -->
                    <div class="widget-body no-padding hidden">
                        <div class="author-avatar">
                            <span class="badge-pulse-green"></span>
                            <img src="assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                        </div>
                        <div class="author-name">
                            Louis Henry
                            <span>Designer</span>
                        </div>
                        <div class="chart">
                            <div class="row no-margin justify-content-center">
                                <div class="col-12 col-xl-8 col-md-8 col-sm-8">
                                    <div class="row no-margin align-items-center">
                                        <!-- Begin Chart -->
                                        <div class="col-9 no-padding">
                                            <div class="chart-graph">
                                                <div class="chart">
                                                    <canvas id="sales-stats"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 no-padding text-center">
                                            <div class="chart-text">
                                                <span class="heading">Sales</span>
                                                <span class="number">364</span>
                                                <span class="cxg text-green">+35%</span>
                                            </div>
                                        </div>
                                        <!-- End Chart -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social-stats">
                            <div class="row d-flex justify-content-between">
                                <div class="col-4 text-center">
                                    <i class="la la-users followers"></i>
                                    <div class="counter">+124</div>
                                    <div class="heading">Followers</div>
                                </div>
                                <div class="col-4 text-center">
                                    <i class="la la-dribbble dribbble"></i>
                                    <div class="counter">+357</div>
                                    <div class="heading">Likes</div>
                                </div>
                                <div class="col-4 text-center">
                                    <i class="la la-behance behance"></i>
                                    <div class="counter">+98</div>
                                    <div class="heading">Followers</div>
                                </div>
                            </div>
                        </div>
                        <div class="actions text-center">
                            <a href="pages-profile.html" class="btn btn-gradient-01">View Profile</a>
                        </div>
                    </div>
                    <!-- End Widget Body -->
                </div>
                <!-- End Widget 05 -->
            </div>
            <div class="col-xl-4">
                <!-- Begin Widget 06 -->
                <div class="widget widget-06 has-shadow">
                    <!-- Begin Widget Header -->
                    <div class="widget-header bordered d-flex align-items-center">
                        <h2>Latest Order</h2>
                        <div style="text-align:right">View all</div>
                    </div>
                    <!-- End Widget Header -->
                    <!-- Begin Widget Body -->
                    <div class="widget-body p-0">
                        <div id="list-group" class="widget-scroll" style="max-height:490px;">
                            <ul class="reviews list-group w-100">
                                @foreach (var item in ViewBag.LatestOrder)
                                {
                                    <li class="list-group-item" style="padding:10px">
                                        <div class="media">
                                            <div class="media-left align-self-center ">
                                                @if (item.Type == 2)
                                                {
                                                    <i style="font-size: 2em;" class="ti ti-car"></i>

                                                }
                                                else
                                                {
                                                    <i style="font-size: 2em;" class="ti ti-package"></i>
                                                }
                                                

                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="username">
                                                    <span style="color:black">#@item.Id</span>
                                                </div>

                                                <div class="meta">
                                                    <span class="mr-3">@(DateTimeUtil.GetPrettyDate(item.CreatedAt))</span>
                                                </div>
                                            </div>
                                            <div style="margin-left:auto">
                                                <div class="price">
                                                    <span>$@item.TotalPrice</span>
                                                </div>
                                                <div class="status">
                                                    @switch (item.Status)
                                                    {
                                                        case 1:
                                                            <span style="color:forestgreen" class="">Paid</span>
                                                            break;
                                                        case -1:
                                                            <span style="color:deepskyblue">Unpaid</span>
                                                            break;
                                                        case 0:
                                                            <span style="color: grey" class="">Cancel</span>
                                                            break;
                                                        case -2:
                                                            <span style="color:yellow" class="">Pending refund</span>
                                                            break;
                                                        case 2:
                                                            <span style="color:red" class="">Refunded</span>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                }
                            </ul>
                        </div>
                        <!-- End List -->
                    </div>
                    <!-- End Widget Body -->
                </div>
                <!-- End Widget 06 -->
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>





@section Scripts{
    <script src="~/Content/admin_vendor/js/nicescroll/nicescroll.min.js"></script>
    <script src="~/Content/admin_vendor/js/chart/chart.min.js"></script>
    <script src="~/Content/admin_vendor/js/progress/circle-progress.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/admin_vendor/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/admin_vendor/js/app/app.js"></script>


    <script src="~/Content/admin_js/dashboard/db-default.js"></script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/daterangepicker.js"></script>
    <script src="~/Content/admin_js/components/datepicker/datepicker.js"></script>
    <script>
        $('#daterange').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        $('#daterangeCar').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        
    </script>

    <script>
        $(function () {
            var chartColumn = new CanvasJS.Chart("chartContainerColumn", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "dark1", "dark2"
	            exportEnabled: true,
	            title: {
                    text: "Revenue by year"
	            },
	            data: [{
                    type: "column",
		            dataPoints: [
			{ x: 10, y: 71 },
			{ x: 20, y: 55 },
			{ x: 30, y: 50 },
			{ x: 40, y: 65 },
			{ x: 50, y: 92, indexLabel: "\u2605 Highest" },
			{ x: 60, y: 68 },
			{ x: 70, y: 38 },
			{ x: 80, y: 71 },
			{ x: 90, y: 54 },
			{ x: 100, y: 60 },
			{ x: 110, y: 36 },
			{ x: 120, y: 49 },
			{ x: 130, y: 21, indexLabel: "\u2691 Lowest" }
		]
	            }]
            });
            chartColumn.render();
            var obj = @Html.Raw(ViewBag.DataTour);
            var obj1 = @Html.Raw(ViewBag.DataCar);
            var options = {
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: obj.title
                },
                subtitles: [{
                    text: obj.date
                }],
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: ${y}",
                    showInLegend: "true",
                    legendText: "{label} (#percent%)",
                    indexLabel: "{label} - ${y}",
                    dataPoints: obj.data
	            }]
            };
            var optionsCar = {
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: obj1.title
                },
                subtitles: [{
                    text: obj1.date
                }],
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: ${y}",
                    showInLegend: "true",
                    legendText: "{label} (#percent%)",
                    indexLabel: "{label} - ${y}",
                    dataPoints: obj1.data
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
            $("#chartContainerCar").CanvasJSChart(optionsCar);

            var chart = $("#chartContainer").CanvasJSChart();
            var chartCar = $("#chartContainerCar").CanvasJSChart();

            function GetData(type, start, end, typeOrder) {
                var url ="";
                if (typeOrder == 1) {
                    url = "/Dashboard/GetTourChartData"
                }
                else {
                    url = "/Dashboard/GetCarChartData"
                }
                $("#preloader2").show();
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                        typeId: type,
                        startDay: start,
                        endDay: end
                    },
                    success: function (obj) {
                        console.log(item)
                        if (typeOrder == 1) {
                            if (obj === "") {
                                $("#chartContainer").hide()
                                $("#notFound").show()
                            } else {
                                var item = JSON.parse(obj);
                                $("#chartContainer").show()
                                $("#notFound").hide()
                                chart.options.title.text = item.title
                                chart.options.subtitles[0].text = item.date
                                chart.options.data[0].dataPoints = item.data
                                chart.render()
                            }
                        }
                        else {
                            if (obj === "") {
                                $("#chartContainerCar").hide()
                                $("#notFoundCar").show()
                            } else {
                                var item = JSON.parse(obj);
                                $("#chartContainerCar").show()
                                $("#notFoundCar").hide()
                                chartCar.options.title.text = item.title
                                chartCar.options.subtitles[0].text = item.date
                                chartCar.options.data[0].dataPoints = item.data
                                chartCar.render()
                            }
                        }
                        $("#preloader2").hide()

                    },
                    error: function () {
                        $("#preloader2").hide()
                    },
                });
            };


            $('#typeId').on('change', (event) => {
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                GetData(event.target.value, start, end, 1)
            });
            $('#typeIdCar').on('change', (event) => {
                var start = $('#startDayCar').val();
                var end = $('#endDayCar').val();
                GetData(event.target.value, start, end, 2)
            });
            $('#daterange').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                $('#startDay').val(picker.startDate.format('DD/MM/YYYY'))
                $('#endDay').val(picker.endDate.format('DD/MM/YYYY'))
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                var type = $('#typeId').val();
                GetData(type, start, end, 1)
            });
            $('#daterangeCar').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                $('#startDayCar').val(picker.startDate.format('DD/MM/YYYY'))
                $('#endDayCar').val(picker.endDate.format('DD/MM/YYYY'))
                var start = $('#startDayCar').val();
                var end = $('#endDayCar').val();
                var type = $('#typeIdCar').val();
                GetData(type, start, end, 2)
            });



        });

    </script>




    
}
