@using East2West.Util
@using East2West.Models
@{
    ViewBag.Title = "Admin | Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row flex-row">
    <!-- Begin Facebook -->
    <div class="col-4">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-bag text-facebook"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-facebook">Total orders</div>
                        <div class="number">@ViewBag.TotalOrder </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Facebook -->
    <!-- Begin Twitter -->
    <div class="col-4">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-person text-twitter"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-twitter">Total users</div>
                        <div class="number">@ViewBag.TotalUser</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter -->
    <!-- Begin Linkedin -->
    <div class="col-4">
        <div class="widget widget-12 has-shadow">
            <div class="widget-body">
                <div class="media">
                    <div class="align-self-center ml-5 mr-5">
                        <i class="ion-cash text-linkedin"></i>
                    </div>
                    <div class="media-body align-self-center">
                        <div class="title text-linkedin">All time revenue</div>
                        <div class="number">@ViewBag.TotalRevenue</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Linkedin -->
</div>
<!-- Sale chart -->
<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <div class="widget widget-09 has-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Select Year</label>
                        <div class="select mb-3">
                            <select name="yearSelectSaleChart" id="yearSelectSaleChart" class="custom-select form-control">
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div>
                            <div id="chartSale" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
    </div>
</div>
<!-- Tour pie chart -->
<div class="row flex-row">
    <div class="col-12">
        <div class="widget widget-09 has-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeId" id="typeId" class="custom-select form-control">
                                <option value="2">Tour Duration</option>
                                <option value="1">Tour Category</option>
                                <option value="0">Season</option>
                                <option value="3">Ticket Price Range</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="daterange" value="">
                            <input type="hidden" class="form-control" name="startDay" , id="startDay" value="">
                            <input type="hidden" class="form-control" name="endDay" , id="endDay" value="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-10 no-padding">
                        <div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                            <div id="notFound" class="text-center mb-5 mt-3" style="display:none"><i class="la la-search"></i> No order tour found in this date range!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Car pie chart -->
<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <div class="widget widget-09 has-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Analyze by</label>
                        <div class="select mb-3">
                            <select name="typeIdCar" id="typeIdCar" class="custom-select form-control">
                                <option value="2">Car Model</option>
                                <option value="1">Car Type</option>
                                <option value="0">Season</option>
                                <option value="3">Air Conditioner</option>
                                <option value="4">Driver</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-secondary">
                                <i class="la la-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="daterangeCar" value="">
                            <input type="hidden" class="form-control" name="startDayCar" , id="startDayCar" value="">
                            <input type="hidden" class="form-control" name="endDayCar" , id="endDayCar" value="">

                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <div id="chartContainerCar" style="height: 370px; width: 100%;"></div>
                            <div id="notFoundCar" class="text-center mb-5 mt-3" style="display:none"><i class="la la-search"></i> No order car found in this date range!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- USER ORDER LATEST -->
<div class="row flex-row">
    <div class="col-xl-4">
        <div class="widget widget-06 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>New Users</h2>
                <div style="text-align:right">@Html.ActionLink("View all", "Index", "Users")</div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body p-0">
                <div id="list-group" class="widget-scroll" style="max-height:490px;">
                    <ul class="reviews list-group w-100">
                        @foreach (var item in ViewBag.LatestUsers)
                        {
                            var img = "";
                            if (item.Thumbnail == null)
                            {
                                img = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
                            }
                            else
                            {
                                img = item.Thumbnail;
                            }
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left align-self-start">
                                        <img src=@img class="user-img rounded-circle" alt=".">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <div class="username">
                                            <span style="color:black">@item.FirstName @item.LastName</span>
                                        </div>
                                        <div class="meta">
                                            <span class="mr-3">Registered @(DateTimeUtil.GetPrettyDate(item.CreatedAt))</span>
                                        </div>
                                    </div>
                                    <div class="media-right pr-3 align-self-center">
                                        <div class="like text-center">
                                            <a href="@Url.Action("Details", "Users", new { id = item.Id })"><i class="ion-information-circled"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
                <!-- End List -->
            </div>
            <!-- End Widget Body -->
        </div>
    </div>

    <div class="col-xl-4">
        <!-- Begin Widget ORDER -->
        <div class="widget widget-06 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>Latest Orders</h2>
                <div style="text-align:right">@Html.ActionLink("View all", "GetTour", "Orders")</div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body p-0">
                <div id="list-group" class="widget-scroll" style="max-height:490px;">
                    <ul class="reviews list-group w-100">
                        @foreach (var item in ViewBag.LatestOrders)
                        {
                            string id = @item.Id;
                            <li class="list-group-item" style="padding:10px">
                                <div class="media">
                                    <div class="media-left align-self-center ">
                                        @if (item.Type == 2)
                                        {
                                            <i style="font-size: 2em;" class="ti ti-car"></i>

                                        }
                                        else
                                        {
                                            <i style="font-size: 2em;" class="ti ti-package"></i>
                                        }


                                    </div>
                                    <div class="media-body align-self-center">
                                        <div class="username">
                                            <span style="color:black">@Html.ActionLink(id, "Details", "Orders", new { id = @item.Id }, null)</span>
                                        </div>

                                        <div class="meta">
                                            <span class="mr-3">@(DateTimeUtil.GetPrettyDate(item.CreatedAt))</span>
                                        </div>
                                    </div>
                                    <div class="mr-3">
                                        <span>$@item.TotalPrice</span>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
                <!-- End List -->
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 06 -->
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 05 -->
        <div class="widget widget-05 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>Top Selling Tour</h2>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            @{
                Tour tour = ViewBag.BestTour;
                var img2 = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
                if (tour.Thumbnail != null)
                {
                    img2 = tour.Thumbnail.Split(',').ToList<String>().First();
                }

                <div class="widget-body no-padding hidden">
                    <div class="author-avatar">

                        <img style="object-fit:cover;height:80px;width:80px" src=@img2 alt="..." class="rounded-circle">
                    </div>
                    
                    <div class="chart">
                        <div class="row no-margin justify-content-center">
                            <div class="col-12 col-xl-8 col-md-8 col-sm-8">
                                <div class="row no-margin align-items-center">
                                    <!-- Begin Chart -->
                                    <div class="author-name">
                                        @tour.Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-stats">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6 text-center">
                                <i class="la la-ticket followers"></i>
                                <div class="counter">@ViewBag.BestTourTicket</div>
                                <div class="heading">tickets</div>
                            </div>
                            <div class="col-6 text-center">
                                <i class="la la-dollar dribbble"></i>
                                <div class="counter">@ViewBag.BestTourSale</div>
                                <div class="heading">USD</div>
                            </div>
                        </div>
                    </div>
                    <div class="actions text-center mt-5">
                        <a href=@Url.Action("Details", "Tours", new { id = tour.Id }) class="btn btn-gradient-01">View Detail</a>
                    </div>
                </div>
            }
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 05 -->
    </div>

</div>





@section Scripts{
    <script src="~/Content/admin_vendor/js/nicescroll/nicescroll.min.js"></script>
    <script src="~/Content/admin_vendor/js/chart/chart.min.js"></script>
    <script src="~/Content/admin_vendor/js/progress/circle-progress.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/admin_vendor/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/admin_vendor/js/app/app.js"></script>


    <script src="~/Content/admin_js/dashboard/db-default.js"></script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/daterangepicker.js"></script>
    <script src="~/Content/admin_js/components/datepicker/datepicker.js"></script>
    <script>
        $('#daterange').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        $('#daterangeCar').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });

    </script>

    <script>
        // Handle combinational chart here
        window.onload = function () {
            var year = $('#yearSelectSaleChart');
            var obj = @Html.Raw(ViewBag.DataSaleChart);

            var optionsSale = {
                exportEnabled: true,
                animationEnabled: true,
                theme: "light1",
                title: {
                    text: "Monthly Sales Data in " + year.val()
                },
                axisY: {
                    prefix: "$",
                    title: "Revenue (in $)",
                    titleFontColor: "#C24642",
                    lineColor: "#C24642"
                },
                axisY2: {
                    title: "Sale",
                    titleFontColor: "#369EAD",
                    lineColor: "#369EAD"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [
                    {
                        type: "column",
                        color: "#369EAD",
                        name: "Sales",
                        showInLegend: true,
                        axisYType: "secondary",
                        yValueFormatString: "#",
                        dataPoints: obj.data2
                    },
                    {
                        type: "line",
                        color: "#C24642",
                        name: "Revenue",
                        showInLegend: true,
                        yValueFormatString: "$#,##0.##",
                        dataPoints: obj.data1
                    }]
            };
            $("#chartSale").CanvasJSChart(optionsSale);

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

            $('#yearSelectSaleChart').on('change', () => {
                GetDataSaleChart(year.val())
            });

            var chartSale = $("#chartSale").CanvasJSChart();

            function GetDataSaleChart(year) {
                $("#preloader2").show();
                $.ajax({
                    type: "GET",
                    url: "/Dashboard/GetSaleChartData",
                    data: {
                        year: year
                    },
                    success: function (obj) {
                        var item = JSON.parse(obj);
                        chartSale.options.title.text = item.title
                        chartSale.options.data[0].dataPoints = item.data2
                        chartSale.options.data[1].dataPoints = item.data1
                        chartSale.render()
                        $("#preloader2").hide()

                    },
                    error: function () {
                        $("#preloader2").hide()
                    },
                });
            }

        }
        // Handle 2 pie chart here
        $(function () {
            var obj = @Html.Raw(ViewBag.DataTour);
            var obj1 = @Html.Raw(ViewBag.DataCar);
            var options = {
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: obj.title
                },
                subtitles: [{
                    text: obj.date
                }],
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: ${y}",
                    showInLegend: "true",
                    legendText: "{label} (#percent%)",
                    indexLabel: "{label} - ${y}",
                    dataPoints: obj.data
	            }]
            };
            var optionsCar = {
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: obj1.title
                },
                subtitles: [{
                    text: obj1.date
                }],
                legend: {
                    horizontalAlign: "right",
                    verticalAlign: "center"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: ${y}",
                    showInLegend: "true",
                    legendText: "{label} (#percent%)",
                    indexLabel: "{label} - ${y}",
                    dataPoints: obj1.data
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
            $("#chartContainerCar").CanvasJSChart(optionsCar);

            var chart = $("#chartContainer").CanvasJSChart();
            var chartCar = $("#chartContainerCar").CanvasJSChart();

            function GetData(type, start, end, typeOrder) {
                var url ="";
                if (typeOrder == 1) {
                    url = "/Dashboard/GetTourChartData"
                }
                else {
                    url = "/Dashboard/GetCarChartData"
                }
                $("#preloader2").show();
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                        typeId: type,
                        startDay: start,
                        endDay: end
                    },
                    success: function (obj) {
                        if (typeOrder == 1) {
                            if (obj === "") {
                                $("#chartContainer").hide()
                                $("#notFound").show()
                            } else {
                                var item = JSON.parse(obj);
                                $("#chartContainer").show()
                                $("#notFound").hide()
                                chart.options.title.text = item.title
                                chart.options.subtitles[0].text = item.date
                                chart.options.data[0].dataPoints = item.data
                                chart.render()
                            }
                        }
                        else {
                            if (obj === "") {
                                $("#chartContainerCar").hide()
                                $("#notFoundCar").show()
                            } else {
                                var item = JSON.parse(obj);
                                $("#chartContainerCar").show()
                                $("#notFoundCar").hide()
                                chartCar.options.title.text = item.title
                                chartCar.options.subtitles[0].text = item.date
                                chartCar.options.data[0].dataPoints = item.data
                                chartCar.render()
                            }
                        }
                        $("#preloader2").hide()

                    },
                    error: function () {
                        $("#preloader2").hide()
                    },
                });
            };


            $('#typeId').on('change', (event) => {
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                GetData(event.target.value, start, end, 1)
            });
            $('#typeIdCar').on('change', (event) => {
                var start = $('#startDayCar').val();
                var end = $('#endDayCar').val();
                GetData(event.target.value, start, end, 2)
            });
            $('#daterange').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                $('#startDay').val(picker.startDate.format('DD/MM/YYYY'))
                $('#endDay').val(picker.endDate.format('DD/MM/YYYY'))
                var start = $('#startDay').val();
                var end = $('#endDay').val();
                var type = $('#typeId').val();
                GetData(type, start, end, 1)
            });
            $('#daterangeCar').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                $('#startDayCar').val(picker.startDate.format('DD/MM/YYYY'))
                $('#endDayCar').val(picker.endDate.format('DD/MM/YYYY'))
                var start = $('#startDayCar').val();
                var end = $('#endDayCar').val();
                var type = $('#typeIdCar').val();
                GetData(type, start, end, 2)
            });



        });

    </script>





}
