@model PagedList.IPagedList<East2West.Models.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Admin | Orders Car List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination-container li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination-container li:last-child {
                border-right: none;
            }

            .pagination-container li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                .pagination-container li a:hover:not(.active) {
                    background-color: white;
                }

        .pagination-container .active {
            background-color: white;
        }
</style>

<div class="row">

    <div class="col-xl-12">
        <div class="widget has-shadow">
            <div class="widget-body">
                @using (Html.BeginForm("GetCar", "Orders", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Select Location</label>
                            <div class="select mb-3">
                                <select name="locationId" id="locationId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var item in ViewBag.LocationList)
                                    {
                                        if (item.Id == ViewBag.DepartureId)
                                        {
                                            <option value=@item.Id selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@item.Id>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Select Brand</label>
                            <div class="select mb-3">
                                <select name="brandId" id="brandId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var item in ViewBag.BrandList)
                                    {
                                        if (item.Id == ViewBag.BrandId)
                                        {
                                            <option value=@item.Id selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@item.Id>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Select Model</label>
                            <div class="select mb-3">
                                <select name="modelId" id="modelId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var item in ViewBag.ModelList)
                                    {
                                        if (item.Id == ViewBag.ModelId)
                                        {
                                            <option value=@item.Id selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@item.Id>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Select Type</label>
                            <div class="select mb-3">
                                <select name="typeId" id="typeId" class="custom-select form-control">
                                    <option value="">All</option>
                                    @foreach (var item in ViewBag.TypeList)
                                    {
                                        if (item.Id == ViewBag.TypeId)
                                        {
                                            <option value=@item.Id selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@item.Id>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Sort by</label>
                            <div class="select mb-3">
                                <select name="sortType" id="sortType" class="custom-select form-control">
                                    <option value="">Sort by (Lastest default)</option>
                                    <option value="createdAt_asc" @(ViewBag.SortType == "createdAt_asc" ? "selected" : "")>Latest</option>
                                    <option value="createdAt_desc" @(ViewBag.SortType == "createdAt_desc" ? "selected" : "")>Oldest</option>
                                    <option value="totalPrice_asc" @(ViewBag.SortType == "totalPrice_asc" ? "selected" : "")>Total price (Increase)</option>
                                    <option value="totalPrice_desc" @(ViewBag.SortType == "totalPrice_desc" ? "selected" : "")>Total price (Decrease)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Status</label>
                            <div class="select mb-3">
                                <select name="status" id="status" class="custom-select form-control">
                                    <option value="3" @(ViewBag.Status == 3 ? "selected" : "")>All</option>
                                    <option value="-1" @(ViewBag.Status == -1 ? "selected" : "")>Unpaid</option>
                                    <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>Paid</option>
                                    <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>Cancel</option>
                                    <option value="-2" @(ViewBag.Status == -2 ? "selected" : "")>Pending refund</option>
                                    <option value="2" @(ViewBag.Status == 0 ? "selected" : "")>Refunded</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Has AC</label>
                            <div class="select mb-3">
                                <select name="hasAC" id="hasAC" class="custom-select form-control">
                                    <option value="2" @(ViewBag.HasAC == 2 ? "selected" : "")>All</option>
                                    <option value="1" @(ViewBag.HasAC == 1 ? "selected" : "")>Yes</option>
                                    <option value="0" @(ViewBag.HasAC == 0 ? "selected" : "")>No</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Has Driver</label>
                            <div class="select mb-3">
                                <select name="hasDriver" id="hasDriver" class="custom-select form-control">
                                    <option value="2" @(ViewBag.HasDriver == 2 ? "selected" : "")>All</option>
                                    <option value="1" @(ViewBag.HasDriver == 1 ? "selected" : "")>Yes</option>
                                    <option value="0" @(ViewBag.HasDriver == 0 ? "selected" : "")>No</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Pick Up Date Range</label>
                            <div class="input-group">
                                <span class="input-group-addon addon-secondary">
                                    <i class="la la-calendar"></i>
                                </span>
                                @{
                                    var pickUpString = "";
                                    if (!String.IsNullOrEmpty(ViewBag.StartPickupDay) && !String.IsNullOrEmpty(ViewBag.EndPickupDay))
                                    {
                                        pickUpString = @ViewBag.StartPickupDay + " - " + @ViewBag.EndPickupDay;
                                    }
                                }
                                <input type="text" class="form-control" id="daterange1" value="@pickUpString">
                                <input type="hidden" class="form-control" name="startPickUpDay" , id="startPickUpDay" value="@ViewBag.StartPickupDay">
                                <input type="hidden" class="form-control" name="endPickUpDay" , id="endPickUpDay" value="@ViewBag.EndPickupDay">

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Drop Off Date Range</label>
                            <div class="input-group">
                                <span class="input-group-addon addon-secondary">
                                    <i class="la la-calendar"></i>
                                </span>
                                @{
                                    var dropOffString = "";
                                    if (!String.IsNullOrEmpty(ViewBag.StartDropOffDay) && !String.IsNullOrEmpty(ViewBag.EndDropOffDay))
                                    {
                                        dropOffString = @ViewBag.StartDropOffDay + " - " + @ViewBag.EndDropOffDay;
                                    }
                                }
                                <input type="text" class="form-control" id="daterange2" value="@dropOffString">
                                <input type="hidden" class="form-control" name="startDropOffDay" , id="startDropOffDay" value="@ViewBag.StartDropOffDay">
                                <input type="hidden" class="form-control" name="endDropOffDay" , id="endDropOffDay" value="@ViewBag.EndDropOffDay">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-control-label">Created Date Time Range</label>
                            <div class="input-group ">
                                <span class="input-group-addon addon-secondary">
                                    <i class="la la-calendar"></i>
                                </span>
                                @{
                                    var createdString = "";
                                    if (!String.IsNullOrEmpty(ViewBag.StartCreatedDay) && !String.IsNullOrEmpty(ViewBag.EndCreatedDay))
                                    {
                                        createdString = @ViewBag.StartCreatedDay + " - " + @ViewBag.EndCreatedDay;
                                    }
                                }
                                <input type="text" class="form-control" id="datetimerange" value="@createdString">
                                <input type="hidden" class="form-control" name="startCreatedDay" , id="startCreatedDay" value="@ViewBag.StartCreatedDay">
                                <input type="hidden" class="form-control" name="endCreatedDay" , id="endCreatedDay" value="@ViewBag.EndCreatedDay">

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <label class="form-control-label">Search by Order Id</label>
                            <div class="">
                                @Html.TextBox("orderId", ViewBag.OrderId as string, new { @class = "form-control", placeholder = "Enter order id" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-control-label">Search by car license plate</label>
                            <div class="">
                                @Html.TextBox("licensePlate", ViewBag.LicensePlate as string, new { @class = "form-control", placeholder = "Enter license plate" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="form-control-label">Search by username</label>
                            <div class="">
                                @Html.TextBox("username", ViewBag.Username as string, new { @class = "form-control", placeholder = "Enter username" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3 text-right">
                            <div style="height:28px"></div>
                            <div>
                                <button type="submit" class="btn btn-primary mr-1 mb-2">Search</button>
                                <button type="reset" class="btn btn btn-outline-secondary mr-1 mb-2">
                                    @Html.ActionLink("Clear", "GetCar", "Orders", null, null)
                                </button>
                            </div>

                        </div>
                    </div>
                }

                <div class="em-separator separator-dashed"></div>
                <h3 style="color: #5d5386">Total Revenue: @ViewBag.TotalRevenue</h3>
            </div>
        </div>
        <!-- Default -->
        <div class="widget has-shadow">
            @if (Model != null && Model.Count() > 0)
            {
                <div class="widget-header bordered d-flex align-items-center">
                    <div class="styled-checkbox mt-2">
                        <input type="checkbox" name="check-all" id="check-all">
                        <label for="check-all">Select all</label>
                    </div>
                    <div class="col-4">
                        <select id="checkboxStatus" name="checkboxStatus" class="custom-select form-control" onchange="changeByCheckbox(this)">
                            <option>Change selected item status</option>
                            <option value="-1">Unpaid</option>
                            <option value="1">Paid</option>
                            <option value="0">Cancel</option>
                            <option value="-2">Pending refund</option>
                            <option value="2">Refunded</option>
                        </select>
                    </div>
                </div>
            }
            <div class="widget-body">
                @if (Model == null || Model.Count() == 0)
                {
                    <div class="text-center">
                        <i class="la la-search"></i>
                        Nothing found
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th width="5%">#</th>
                                    <th width="5%">Id</th>
                                    <th width="10%">Car Id</th>
                                    <th width="5%">Username</th>
                                    <th width="10%">Pick up date</th>
                                    <th width="10%">Drop off date</th>
                                    <th width="5%">Total Price</th>
                                    <th width="20%">Status</th>
                                    <th width="10%">Created At</th>
                                    <th width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 1;
                                    foreach (var item in Model)
                                    {
                                        string cbId = "cb" + i;
                                        var prevStatus = item.Status;
                                        var carId = item.OrderCars.First().CarSchedule.Car.Id;
                                        <tr>
                                            <td>
                                                <div class="styled-checkbox mt-2">
                                                    <input  @(item.Status == 0 || item.Status== 2 ? "disabled" : "") type="checkbox" name=@cbId id=@cbId value="@(item.Id)">
                                                    <label for=@cbId></label>
                                                </div>
                                            </td>
                                            <td><span class="text-primary">@i</span></td>
                                            <td><span>@item.Id</span></td>
                                            <td>
                                                @item.OrderCars.First().CarSchedule.Car.Id
                                                <i data-id="@(carId)" onclick="getCarDetailModal(this)" class="la la-info-circle"></i>
                                            </td>
                                            <td>@Html.ActionLink(@item.User.UserName, "Details", "Users", new { id = @item.User.Id }, null)</td>
                                            <td>@item.OrderCars.First().CarSchedule.StartDay.ToShortDateString()</td>
                                            <td>@item.OrderCars.First().CarSchedule.EndDay.ToShortDateString()</td>
                                            <td>$@item.TotalPrice</td>
                                            <td>
                                                <select @(item.Status == 0 || item.Status == 2 ? "disabled" : "") id="Status" name="Status" data-id="@(item.Id)" class="custom-select form-control" onchange="changeStatus(this, @prevStatus)">
                                                    <option value="-1" @(item.Status == -1 ? "selected" : "")>Unpaid</option>
                                                    <option value="1" @(item.Status == 1 ? "selected" : "")>Paid</option>
                                                    <option value="0" @(item.Status == 0 ? "selected" : "")>Cancel</option>
                                                    <option value="-2" @(item.Status == -2 ? "selected" : "")>Pending refund</option>
                                                    <option value="2" @(item.Status == 2 ? "selected" : "")>Refunded</option>
                                                </select>
                                            </td>
                                            <td>@item.CreatedAt.ToString("HH:mm:ss dd/M/yyyy")</td>
                                            <td class="td-actions">
                                                <a href="@Url.Action("Details", "Orders", new { id = item.Id })">
                                                    <i class="la la-info-circle" data-toggle="tooltip" title="Information"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("GetCar",
                                    new
                                    {
                                        orderId = ViewBag.OrderId,
                                        sortType = ViewBag.SortType,
                                        username = ViewBag.Username,
                                        locationId = ViewBag.LocationId,
                                        licensePlate = ViewBag.LicensePlate,
                                        modelId = ViewBag.ModelId,
                                        brandId = ViewBag.BrandId,
                                        typeId = ViewBag.TypeId,
                                        hasAC = ViewBag.HasAC,
                                        hasDriver = ViewBag.HasDriver,
                                        startPickUpDay = ViewBag.StartPickupDay,
                                        endPickUpDay = ViewBag.EndPickupDay,
                                        startDropOffDay = ViewBag.StartDropOffDay,
                                        endDropOffDay = ViewBag.EndDropOffDay,
                                        startCreatedDay = ViewBag.StartCreatedDay,
                                        endCreatedDay = ViewBag.EndCreatedDay,
                                        status = ViewBag.Status,
                                        page
                                    }),
                                    new PagedListRenderOptions
                                    {
                                        DisplayItemSliceAndTotal = true,
                                        ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} total item(s).",
                                        DisplayLinkToIndividualPages = true,
                                        DisplayPageCountAndCurrentLocation = false,
                                        MaximumPageNumbersToDisplay = 10,
                                        LinkToFirstPageFormat = "««",
                                        LinkToPreviousPageFormat = "«",
                                        LinkToIndividualPageFormat = "{0}",
                                        LinkToNextPageFormat = "»",
                                        LinkToLastPageFormat = "»»",
                                        ContainerDivClasses = new string[] { "pagination-container mt-3" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" }
                                    })
                    </div>
                }

            </div>
        </div>
        <!-- End Default -->
    </div>
</div>

@section Scripts{
    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/daterangepicker.js"></script>
    <script src="~/Content/admin_js/components/datepicker/datepicker.js"></script>
    <script>
        $('#datetimerange').daterangepicker({
            showDropdowns: true,
            timePickerSeconds: true,
            timePicker24Hour: true,
            timePicker: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'HH:mm:ss DD/MM/YYYY'
            },
        });
        $('#daterange1').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        $('#daterange2').daterangepicker({
            showDropdowns: true,
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
        $('#daterange1').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            $('#startPickUpDay').val(picker.startDate.format('DD/MM/YYYY'))
            $('#endPickUpDay').val(picker.endDate.format('DD/MM/YYYY'))
        });
        $('#daterange2').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            $('#startDropOffDay').val(picker.startDate.format('DD/MM/YYYY'))
            $('#endDropOffDay').val(picker.endDate.format('DD/MM/YYYY'))
        });
        $('#datetimerange').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('HH:mm:ss DD/MM/YYYY') + ' - ' + picker.endDate.format('HH:mm:ss DD/MM/YYYY'));
            $('#startCreatedDay').val(picker.startDate.format('HH:mm:ss DD/MM/YYYY'))
            $('#endCreatedDay').val(picker.endDate.format('HH:mm:ss DD/MM/YYYY'))
        });
    </script>
    <script>
        function getCarDetailModal(obj) {
            var id = obj.getAttribute('data-id')
            $("#preloader2").show();
            $.ajax({
                type: "GET",
                url: "/Orders/GetCarDetails/" + id,
                success: function (msg) {
                    var car = JSON.parse(msg)
                    var ac = car.hasAc == true ? "Yes" : "No"
                    var driver = car.hasDriver == true ? "Yes" : "No"
                    var link = "/admin/cars/" + car.id
                    $("#preloader2").hide();
                    Swal.fire({
                        title: car.brand + "-" + car.model,
                        html:
                            '<p>Id: ' + car.id + '</p>' +
                            '<p>Brand: ' + car.brand + '</p>' +
                            '<p>Model: ' + car.model + '</p>' +
                            '<p>License Plate: ' + car.licensePlate + '</p>' +
                            '<p>Location: ' + car.location + '</p>' +
                            '<p>Air conditioner: ' + ac + '</p>' +
                            '<p>Driver: ' + driver + '</p>' +
                            '<a href=' + link + '>Go to Detail</a> ',
                        text: car.licensePlate,
                        imageUrl: car.thumbnail,
                        imageHeight: 300,
                        imageAlt: 'thumbnail',
                    })
                },
                error: function () {
                    $("#preloader2").hide();
                },
            });
        }
    </script>
    <script>
        $("#check-all").change(function () {
            $("input:checkbox:not(:disabled)").prop('checked', $(this).prop("checked"));
        });
        function changeByCheckbox(obj) {
            var ids = "";
            $("input:checkbox[name!=check-all]:checked").each(function () {
                ids == "" ? ids += $(this).val() : ids += "," + $(this).val()
            });
            var statusString = ""
            var status = obj.value
            switch (status) {
                case "-1":
                    statusString = "UNPAID"
                    break;
                case "1":
                    statusString = "PAID"
                    break;
                case "0":
                    statusString = "CANCEL"
                    break;
                case "-2":
                    statusString = "PENDING REFUND"
                    break;
                case "2":
                    statusString = "REFUNDED"
                    break;
                default:
                    break;
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "To change selected order status to " + statusString,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, do it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#preloader2").show();
                    $.ajax({
                        type: "GET",
                        url: "/Orders/ChangeStatusOrder",
                        data: {
                            status: status,
                            ids: ids,
                        },
                        success: function (msg) {
                            $("#preloader2").hide();
                            if (!msg.includes("success")) {
                                Swal.fire(
                                    'Error!',
                                    msg,
                                    'error'
                                )
                            } else {
                                Swal.fire({
                                    title: 'Success!',
                                    text: msg,
                                    timer: 2000,
                                    icon: "success"
                                }).then(function () {
                                    location.reload()
                                });
                            }

                        },
                        error: function () {
                            $("#preloader2").hide();
                            Swal.fire(
                                'Error!',
                                "Something is wrong here. Try again later",
                                'error'
                            )
                        },
                    });

                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    var a = document.getElementById("checkboxStatus");
                    a.options[0].selected = true;
                }
            })
        }
        function changeStatus(obj, prevStatus) {
            var id = obj.getAttribute('data-id')
            var status = obj.value
            var statusString = ""
            switch (status) {
                case "-1":
                    statusString = "UNPAID"
                    break;
                case "1":
                    statusString = "PAID"
                    break;
                case "0":
                    statusString = "CANCEL"
                    break;
                case "-2":
                    statusString = "PENDING REFUND"
                    break;
                case "2":
                    statusString = "REFUNDED"
                    break;
                default:
                    break;
            }
            Swal.fire({
                title: 'Are you sure?',
                text: "To change order #" + id + " to " + statusString,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, do it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#preloader2").show();
                    $.ajax({
                        type: "GET",
                        url: "/Orders/ChangeStatusOrder",
                        data: {
                            ids: id,
                            status: status
                        },
                        success: function (msg) {
                            $("#preloader2").hide();
                            if (!msg.includes("success")) {
                                Swal.fire(
                                    'Error!',
                                    msg,
                                    'error'
                                )
                                switch (prevStatus) {
                                    case -1:
                                        obj.options[0].selected = true;
                                        break;
                                    case 1:
                                        obj.options[1].selected = true;
                                        break;
                                    case 0:
                                        obj.options[2].selected = true;
                                        break;
                                    case -2:
                                        obj.options[3].selected = true;
                                        break;
                                    case 2:
                                        obj.options[4].selected = true;
                                        break;
                                    default:
                                        break;
                                }
                            } else {
                                if (status == 0 || status == 2) {
                                    obj.prop('disabled', true);
                                }
                                Swal.fire(
                                    'Success!',
                                    msg,
                                    'success'
                                )
                            }


                        },
                        error: function () {
                            $("#preloader2").hide();
                            $("#preloader2").hide();
                            Swal.fire(
                                'Error!',
                                "Something is wrong here. Try again later",
                                'error'
                            )
                        },
                    });

                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    var a = document.getElementById(id);
                    switch (prevStatus) {
                        case -1:
                            obj.options[0].selected = true;
                            break;
                        case 1:
                            obj.options[1].selected = true;
                            break;
                        case 0:
                            obj.options[2].selected = true;
                            break;
                        case -2:
                            obj.options[3].selected = true;
                            break;
                        case 2:
                            obj.options[4].selected = true;
                            break;
                        default:
                            break;
                    }
                }
            })
        }

    </script>

}
