@model East2West.Models.Hotel

@{
    ViewBag.Title = "Admin | Hotel Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    body, table {
        color: black;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4> #@Html.DisplayFor(model => model.Id)</h4>
            </div>
            <div class="widget-body">
                <div class="col-10 ml-auto">
                    <div class="section-title mt-3 mb-5">
                        <h4>01. General Informations</h4>
                    </div>
                </div>
                <form class="form-horizontal">
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Id:</div>
                        <div class="col-lg-6">
                            @Model.Id
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Thumbnail</div>
                        @{
                            if (Model.Thumbnail == null)
                            {
                                <div class="col-lg-6">
                                    <img height="250" src="https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg" alt="default thumbnail" />
                                </div>
                            }
                            else
                            {
                                List<String> imgList = Model.Thumbnail.Split(',').ToList<String>();
                                <div class="col-lg-9">
                                    @foreach (var item in imgList)
                                    {
                                        if (item == "")
                                        {
                                            break;
                                        }
                                        <img class="mt-1" height="150" src=@item alt="thumbnail" />
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Name:</div>
                        <div class="col-lg-9">
                            @Model.Name
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Address:</div>
                        <div class="col-lg-9">
                            @Model.Address
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Departure location:</div>
                        <div class="col-lg-6">
                            @Model.Location.Name
                        </div>
                    </div><div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Name:</div>
                        <div class="col-lg-9">
                            @Model.Price
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Desciption:</div>
                        <div class="col-lg-9">
                            @Model.Description
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Detail:</div>
                        <div class="col-lg-9">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Detail))
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Average Rating:</div>
                        <div class="col-lg-6">
                            @Model.Rating *
                        </div>
                    </div>

                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Status:</div>
                        <div class="col-lg-6">
                            @{
                                string status = null;
                                switch (Model.Status)
                                {
                                    case 1:
                                        status = "Acitve";
                                        break;
                                    case 0:
                                        status = "Disable";
                                        break;
                                }
                                @status
                            }

                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Created At:</div>
                        <div class="col-lg-6">
                            @Model.CreatedAt
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Update At:</div>
                        <div class="col-lg-6">
                            @Model.UpdatedAt
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-2 text-right">Deleted At:</div>
                        <div class="col-lg-6">
                            @Model.DeletedAt
                        </div>
                    </div>
                </form>
                <div class="em-separator separator-dashed"></div>
                <div class="text-right">
                    <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
                    <button class="btn btn-light" type="button">@Html.ActionLink("Back to List", "Index")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        @*<div class="widget has-shadow">
                <div class="widget-body">
                    <div class="col-10 ml-auto">
                        <div class="section-title mt-3 mb-5">
                            <h4>02. Schedule Informations</h4>
                        </div>
                    </div>
                    @if (Model.TourSchedules == null || Model.TourSchedules.Count() == 0)
                    {
                        <p class="col-10 ml-auto">No Schedule for this tour added yet</p>
                    }
                    else
                    {
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="5%">Id</th>
                                    <th width="15%">Name</th>
                                    <th width="65%">Detail</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var schedule in Model.TourSchedules.OrderBy(s => s.ScheduleOrder).ToList())
                                {
                                    <tr>
                                        <td class="text-primary">@Html.Raw(schedule.ScheduleOrder)</td>
                                        <td><span>@Html.Raw(schedule.Id)</span></td>
                                        <td>@Html.Raw(schedule.Name)</td>
                                        <td>@Html.Raw(HttpUtility.HtmlDecode(schedule.Detail))</td>
                                        <td class="td-actions">
                                            <a href="@Url.Action("Details", "TourSchedules", new { id = schedule.Id })">
                                                <i class="ion ion-information"></i>
                                            </a>
                                            <a href="@Url.Action("Edit", "TourSchedules", new { id = schedule.Id })">
                                                <i class="ion ion-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>


                    }


                    <div class="em-separator separator-dashed"></div>
                    <div class="text-right">
                        <button class="btn btn-outline-dark" type="button">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
                        <button class="btn btn-light" type="button">@Html.ActionLink("Back to List", "Index")</button>
                    </div>
                </div>
            </div>*@
    </div>
</div>