@model East2West.Models.CarSchedule

@{
    ViewBag.Title = "Admin | Create Car Schedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    
    <div class="col-xl-12">
        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>Create new car schedule</h4>

            </div>

            <div class="widget-body">
                @using (Html.BeginForm("Create", "CarSchedules", FormMethod.Post, new { id = "car-schedule-create" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label">Select car</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CarId, ViewBag.CarlId as SelectList, new { @class = "custom-select form-control" })
                                @Html.ValidationMessageFor(model => model.CarId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-6 control-label">Start Date - End Date</label>
                            <div class="input-group col-md-6">
                                <span class="input-group-addon addon-secondary">
                                    <i class="la la-calendar"></i>
                                </span>
                                <input type="text" class="form-control" name="daterange" id="daterange" value="">
                                <input type="hidden" class="form-control" name="StartDay" , id="StartDay" value="">
                                <input type="hidden" class="form-control" name="EndDay" , id="EndDay" value="">

                            </div>
                            <div class="col-md-9">
                                @Html.ValidationMessageFor(model => model.StartDay, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.EndDay, "", new { @class = "text-danger" })
                                <div class="text-danger mb-4">
                                    @TempData["data"]
                                </div>
                            </div>
                        </div>

                        <ul class="pager wizard text-right">
                            <li class="next d-inline-block">
                                <input type="submit" form="car-schedule-create" value="Create" class="btn btn-gradient-01" />
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/moment.min.js"></script>
    <script src="~/Content/admin_vendor/js/datepicker/daterangepicker.js"></script>
    <script src="~/Content/admin_js/components/datepicker/datepicker.js"></script>
    <script>
        $('#daterange').daterangepicker({
            autoUpdateInput: false,
            autoApply: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
            minDate: new Date(),
            //isInvalidDate: function (date) {
            //    if (date.format('DD/MM/YYYY') == '02/07/2022')
            //        return true;
            //    return false;
            //}
        });
        $('#daterange').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            $('#StartDay').val(picker.startDate.format('DD/MM/YYYY'))
            $('#EndDay').val(picker.endDate.format('DD/MM/YYYY'))
        });
    </script>

}
