@model PagedList.IPagedList<East2West.Models.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination-container li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination-container li:last-child {
                border-right: none;
            }

            .pagination-container li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                .pagination-container li a:hover:not(.active) {
                    background-color: white;
                }

        .pagination-container .active {
            background-color: white;
        }
</style>

<div class="row">


    <div class="col-xl-12">
        <div class="widget has-shadow">
            <div class="widget-body">
                @using (Html.BeginForm("Index", "Users", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Role</label>
                            <div class="select mb-3">
                                <select name="role" id="role" class="custom-select form-control">
                                    <option value="2" @(ViewBag.Status == 2 ? "selected" : "")>All</option>
                                    <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>Admin</option>
                                    <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>User</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Status</label>
                            <div class="select mb-3">
                                <select name="status" id="status" class="custom-select form-control">
                                    <option value="2" @(ViewBag.Status == 2 ? "selected" : "")>All</option>
                                    <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>Active</option>
                                    <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>Disable</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="form-control-label">Sort by</label>
                            <div class="select mb-3">
                                <select name="sortType" id="sortType" class="custom-select form-control">
                                    <option value="">Sort by (Lastest default)</option>
                                    <option value="createdAt_asc" @(ViewBag.SortType == "createdAt_asc" ? "selected" : "")>Oldest</option>
                                    <option value="createdAt_desc" @(ViewBag.SortType == "createdAt_desc" ? "selected" : "")>Latest</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by Username</label>
                            <div class="">
                                @Html.TextBox("username", ViewBag.Username as string, new { @class = "form-control", placeholder = "Find by username" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by Id</label>
                            <div class="">
                                @Html.TextBox("id", ViewBag.Id as string, new { @class = "form-control", placeholder = "Find by id" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by first name</label>
                            <div class="">
                                @Html.TextBox("firstName", ViewBag.FirstName as string, new { @class = "form-control", placeholder = "Find by first name" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by last name</label>
                            <div class="">
                                @Html.TextBox("lastName", ViewBag.LastName as string, new { @class = "form-control", placeholder = "Find by last name" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by address</label>
                            <div class="">
                                @Html.TextBox("address", ViewBag.Address as string, new { @class = "form-control", placeholder = "Find by address" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Order paid</label>
                            <div class="select mb-3">
                                <select name="order" id="order" class="custom-select form-control">
                                    <option value="3" @(ViewBag.Order == 3 ? "selected" : "")>All</option>
                                    <option value="2" @(ViewBag.Order == 2 ? "selected" : "")>>= 10</option>
                                    <option value="1" @(ViewBag.Order == 1 ? "selected" : "")>< 10</option>
                                    <option value="0" @(ViewBag.Order == 0 ? "selected" : "")>None yet</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-3 text-right">
                            <div style="height:28px"></div>
                            <div>
                                <button type="submit" class="btn btn-primary mr-1 mb-2">Search</button>
                                <button type="reset" class="btn btn btn-outline-secondary mr-1 mb-2"><a href="/Tours">Clear</a></button>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <!-- Default -->
        <div class="widget has-shadow">
            <div class="widget-body">
                @if (Model == null || Model.Count() == 0)
                {
                    <div class="text-center">
                        <i class="la la-search"></i>
                        Nothing found
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="5%">Id</th>
                                    <th width="5%">Username</th>
                                    <th width="10%">Role</th>
                                    <th width="10%">First Name</th>
                                    <th width="10%">Last Name</th>
                                    <th width="5%">Order paid</th>
                                    <th width="15%">Status</th>
                                    <th width="15%">Address</th>
                                    <th width="10%">Created At</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 1;
                                    foreach (var item in Model)
                                    {


                                        <tr>
                                            <td><span class="text-primary">@i</span></td>
                                            <td><span>@item.Id</span></td>
                                            <td>@item.UserName</td>
                                            <td><span class="badge-text badge-text-small info">User</span></td>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@{
                                                    var order = item.Orders.Where(o => o.Status == 1);
                                                    var numberOfOrder = 0;
                                                    if (order != null && order.Count() > 0)
                                                    {
                                                        numberOfOrder = order.Count();
                                                    }
                                                }
                                            @numberOfOrder
                                            </td>
                                            <td>
                                                <select id="Status" name="Status" data-id="@(item.Id)" class="custom-select form-control" onchange="changeStatus(this)">
                                                    <option value="1" @(item.Status == 1 ? "selected" : "")>Active</option>
                                                    <option value="0" @(item.Status == 0 ? "selected" : "")>Disable</option>
                                                </select>
                                            </td>
                                            <td>@item.Address</td>
                                            <td>@item.CreatedAt</td>
                                            <td class="td-actions">
                                                <a href="@Url.Action("Details", "Users", new { id = item.Id })">
                                                    <i class="la la-info-circle" data-toggle="tooltip" title="Information"></i>
                                                </a>
                                                <a href="@Url.Action("Edit", "Users", new { id = item.Id })">
                                                    <i class="la la-edit" data-toggle="tooltip" title="Edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                    new
                                    {
                                        id = ViewBag.Id,
                                        status = ViewBag.Status,
                                        sortType = ViewBag.SortType,
                                        username = ViewBag.Username,
                                        firstName = ViewBag.FirstName,
                                        lastName = ViewBag.LastName,
                                        address = ViewBag.Address,
                                        roleId = ViewBag.RoleId,
                                        order = ViewBag.Order,
                                        page
                                    }),
                                    new PagedListRenderOptions
                                    {
                                        DisplayItemSliceAndTotal = true,
                                        ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} total item(s).",
                                        DisplayLinkToIndividualPages = true,
                                        DisplayPageCountAndCurrentLocation = false,
                                        MaximumPageNumbersToDisplay = 10,
                                        LinkToFirstPageFormat = "««",
                                        LinkToPreviousPageFormat = "«",
                                        LinkToIndividualPageFormat = "{0}",
                                        LinkToNextPageFormat = "»",
                                        LinkToLastPageFormat = "»»",
                                        ContainerDivClasses = new string[] { "pagination-container mt-3" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" }
                                    })
                    </div>
                }

            </div>
        </div>
        <!-- End Default -->
    </div>
</div>

@section Scripts{
    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script>
        function changeStatus(obj) {
            var id = obj.getAttribute('data-id')
            var status = obj.value
            var cnfrmMsg = "activate " + id
            if (status == 0) {
                cnfrmMsg = "disable " + id
            }
            Swal.fire({
                title: 'Are you sure?',
                text: "To " + cnfrmMsg,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, do it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#preloader2").show();
                    $.ajax({
                        type: "GET",
                        url: "/Tours/ChangeStatus",
                        data: {
                            id: id,
                            status: status
                        },
                        success: function (msg) {
                            $("#preloader2").hide();
                            Swal.fire(
                                'Success!',
                                msg,
                                'success'
                            )
                        },
                        error: function () {
                            $("#preloader2").hide();
                        },
                    });

                }
                else {
                    alert(oke)
                }
            })
        }
    </script>
}