@model East2West.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel.CarBrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel.CarBrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LisencePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LisencePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAirConditioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAirConditioner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
