@model PagedList.IPagedList<East2West.Models.Car>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination-container li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination-container li:last-child {
                border-right: none;
            }

            .pagination-container li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                .pagination-container li a:hover:not(.active) {
                    background-color: white;
                }

        .pagination-container .active {
            background-color: white;
        }
</style>

<div class="row">

    <div class="col-xl-12">
        <div class="widget has-shadow">
            <div class="widget-body">
                @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
                {
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-control-label">Select Brand</label>
                        <div class="select mb-3">
                            <select name="brandId" id="brandId" class="custom-select form-control">
                                <option value="">Select Brand</option>
                                @foreach (var brand in ViewBag.BrandList)
                                {
                                    if (brand.Id == ViewBag.BrandId)
                                    {
                                        <option value=@brand.Id selected>@brand.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@brand.Id>@brand.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Select Model</label>
                        <div class="select mb-3">
                            <select name="modelId" id="modelId" class="custom-select form-control">
                                <option value="">Select Model</option>
                                @foreach (var cModel in ViewBag.ModelList)
                                {
                                    if (cModel.Id == ViewBag.ModelId)
                                    {
                                        <option value=@cModel.Id selected>@cModel.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@cModel.Id>@cModel.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-control-label">Select Type</label>
                        <div class="select mb-3">
                            <select name="brandId" id="brandId" class="custom-select form-control">
                                <option value="">Select Type</option>
                                @foreach (var type in ViewBag.TypeList)
                                {
                                    if (type.Id == ViewBag.TypeId)
                                    {
                                        <option value=@type.Id selected>@type.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@type.Id>@type.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <label class="form-control-label">Select location</label>
                        <div class="select mb-3">
                            <select name="locationId" id="locationId" class="custom-select form-control">
                                <option value="">Select Location</option>
                                @foreach (var location in ViewBag.LocationList)
                                {
                                    if (location.Id == ViewBag.DepartureId)
                                    {
                                        <option value=@location.Id selected>@location.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@location.Id>@location.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-control-label">Sort by</label>
                            <div class="select mb-3">
                                <select name="sortType" id="sortType" class="custom-select form-control">
                                    <option value="">Sort by (Lastest default)</option>
                                    <option value="createdAt_asc" @(ViewBag.SortType == "createdAt_asc" ? "selected" : "")>Latest</option>
                                    <option value="createdAt_desc" @(ViewBag.SortType == "createdAt_desc" ? "selected" : "")>Oldest</option>
                                    <option value="price_asc" @(ViewBag.SortType == "price_asc" ? "selected" : "")>Price (Increase)</option>
                                    <option value="price_desc" @(ViewBag.SortType == "price_desc" ? "selected" : "")>Price (Decrease)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="form-control-label">Has AC</label>
                            <div class="select mb-3">
                                <select name="hasAC" id="hasAC" class="custom-select form-control">
                                    <option value="2" @(ViewBag.HasAC == 2 ? "selected" : "")>All</option>
                                    <option value="1" @(ViewBag.HasAC == 1 ? "selected" : "")>Yes</option>
                                    <option value="0" @(ViewBag.HasAC == 0 ? "selected" : "")>No</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Status</label>
                            <div class="select mb-3">
                                <select name="status" id="status" class="custom-select form-control">
                                    <option value="3" @(ViewBag.Status == 3 ? "selected" : "")>All</option>
                                    <option value="3" @(ViewBag.Status == 2 ? "selected" : "")>In use</option>
                                    <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>Available</option>
                                    <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>Disable</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3">
                            <label class="form-control-label">Search by Id</label>
                            <div class="">
                                @Html.TextBox("id", ViewBag.Id as string, new { @class = "form-control", placeholder = "Find by id" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-control-label">Search by license plate</label>
                            <div class="">
                                @Html.TextBox("licensePlate", ViewBag.LicensePlate as string, new { @class = "form-control", placeholder = "Find by license plate" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3 text-right">
                            <div style="height:28px"></div>
                            <div>
                                <button type="submit" class="btn btn-primary mr-1 mb-2">Search</button>
                                <button type="reset" class="btn btn btn-outline-secondary mr-1 mb-2"><a href="/Cars">Clear</a></button>
                            </div>

                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- Default -->
        <div class="widget has-shadow">
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="15%">Thumbnail</th>
                                <th width="10%">Brand</th>
                                <th width="10%">Model</th>
                                <th width="10%">Type</th>
                                <th width="10%">Location</th>
                                <th width="5%">License Plate</th>
                                <th width="5%">Price</th>
                                <th width="5%">AC</th>
                                <th width="10%">Status</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 1;
                                foreach (var item in Model)
                                {

                                    var img = "https://res.cloudinary.com/nmqdec6/image/upload/v1655735551/Project%20East2West/default-thumbnail_bd4eth.jpg";
                                    if (item.Thumbnail != null)
                                    {
                                        img = item.Thumbnail.Split(',').ToList<String>().First();
                                    }
                                    <tr>
                                        <td><span class="text-primary">@i</span></td>
                                        <td><span>@Html.DisplayFor(modelItem => item.Id)</span></td>
                                        <td><img width="150" src=@img alt="thumbnail" /></td>
                                        <td>@item.CarModel.CarBrand.Name</td>
                                        <td>@item.CarModel.Name</td>
                                        <td>@item.CarType.Name</td>
                                        <td>@item.Location.Name</td>
                                        <td>@item.LisencePlate</td>
                                        <td>$@item.PricePerDay</td>
                                        <td><p>@(item.HasAirConditioner == true ? "✅" : "")</p></td>
                                        <td>
                                            <select id="Status" name="Status" data-id="@(item.Id)" class="custom-select form-control" onchange="changeStatus(this)">
                                                <option value="1" @(item.Status == 1 ? "selected" : "")>Active</option>
                                                <option value="0" @(item.Status == 0 ? "selected" : "")>Disable</option>
                                            </select>
                                        </td>
                                        <td class="td-actions">
                                            <a href="@Url.Action("Details", "Cars", new { id = item.Id })">
                                                <i class="la la-info-circle" data-toggle="tooltip" title="Information"></i>
                                            </a>
                                            <a href="@Url.Action("Edit", "Cars", new { id = item.Id })">
                                                <i class="la la-edit" data-toggle="tooltip" title="Edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { id = ViewBag.Id, sortType = ViewBag.SortType, keyword = ViewBag.Keyword, categoryId = ViewBag.CategoryId, levelId = ViewBag.LevelId, page }),
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToIndividualPages = true,
                                    DisplayPageCountAndCurrentLocation = false,
                                    MaximumPageNumbersToDisplay = 10,
                                    LinkToFirstPageFormat = "««",
                                    LinkToPreviousPageFormat = "«",
                                    LinkToIndividualPageFormat = "{0}",
                                    LinkToNextPageFormat = "»",
                                    LinkToLastPageFormat = "»»",
                                    ContainerDivClasses = new string[] { "pagination-container mt-3" },
                                    UlElementClasses = new string[] { "pagination" },
                                    LiElementClasses = new string[] { "page-item" }
                                })
                </div>
            </div>
        </div>
        <!-- End Default -->
    </div>
</div>

@section Scripts{
    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <script>;
        function changeStatus(obj) {
            var id = obj.getAttribute('data-id')
            var status = obj.value
            var cnfrmMsg = "Activate " + id
            if (status == 0) {
                cnfrmMsg = "Disable " + id
            }
            if (confirm(cnfrmMsg)) {
                $("#preloader2").show();
                $.ajax({
                    type: "GET",
                    url: "/Cars/ChangeStatus",
                    data: {
                        id: id,
                        status: status
                    },
                    success: function (msg) {
                        $("#preloader2").hide();
                        toastr.info(msg, 'Update successfully');
                    },
                    error: function () {
                        $("#preloader2").hide();
                    },
                });
            } else {
                alert(oke)
            }
        }
    </script>
}
